{% extends "base.html" %}
{% block navig_btn_g %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href=".">Главная</a> / <a>Информация</a> / <span>Противодействие коррупции</span></div>
        <h1 class="title"><span>Противодействие коррупции</span></h1>
                <h1 class="title">
	&nbsp;</h1>
<div class="post">
	<div class="wf d_table">
		<div class="d_cell">
            <a href="/media/%D0%A7%D1%82%D0%BE_%D1%82%D0%B0%D0%BA%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2%D0%BE%D0%B4%D0%B5%D0%B9%D1%81%D1%82%D0%B2%D0%B8%D0%B5_%D0%BA%D0%BE%D1%80%D1%80%D1%83%D0%BF%D1%86%D0%B8%D0%B8.docx"><img class="cover_img fl" src="/media/images/corruption.jpg"></a></div>
            <br>
			<a href="/media/%D0%A7%D1%82%D0%BE_%D1%82%D0%B0%D0%BA%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2%D0%BE%D0%B4%D0%B5%D0%B9%D1%81%D1%82%D0%B2%D0%B8%D0%B5_%D0%BA%D0%BE%D1%80%D1%80%D1%83%D0%BF%D1%86%D0%B8%D0%B8.docx">Что такое противодействие коррупции?</a></div>

	</div>
</div>
<div class="wf d_table">
	<div class="d_cell">
	<div class="post_body d_cell w100p">
		<p class="title mb10">
			<a href="/media/%D0%9F%D0%B5%D1%80%D0%B5%D1%87%D0%B5%D0%BD%D1%8C_%D0%BA%D0%BE%D1%80%D1%80%D1%83%D0%BF%D1%86%D0%B8%D0%BE%D0%BD%D0%BD%D1%8B%D1%85_%D1%80%D0%B8%D1%81%D0%BA%D0%BE%D0%B2.docx">Перечень коррупционных рисков</a></p>
	</div>
</div>
<p>
	&nbsp;</p>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}