{% extends "base.html" %}
{% block navig_btn_b %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Первая помощь</span></div>
        <h1 class="title"><span>Первая помощь</span></h1>
                <div>
	<strong>НОЧУ ДПО "УЦПК" проводит обучение по дополнительным профессиональным программам повышения квалификации</strong>:&nbsp;&nbsp;</div>
<div>
	&nbsp;</div>
<ul>
	<li>
		«Инструктор по обучению приемам и методам оказания первой помощи пострадавшим»</li>
</ul>

<div>
	&nbsp;</div>
<h3>
	1.<span style="white-space:pre"> </span>«Инструктор по обучению приемам и методам оказания первой помощи пострадавшим»</h3>
<div>
	&nbsp;</div>
<div>
	<strong>Основание обучения:</strong></div>
<div>
	―<span style="white-space:pre"> </span>ФЗ РФ от 28.12.2013г. №323-ФЗ «Об основах охраны здоровья граждан в Российской Федерации»;</div>
<div>
	―<span style="white-space:pre"> </span>Приказ Минтруда России от 18.11.2013г. №677н.;</div>
<div>
	―<span style="white-space:pre"> </span>ФЗ от 29 декабря 2012 г. № 273-ФЗ (ред. от 03.07.2016г., с изм. и доп., вступ. в силу с 15.07.2016г.) «Об образовании в Российской Федерации», ст. 41 «Охрана здоровья обучающихся».</div>
<div>
	―<span style="white-space:pre"> </span>п.2.2.4. Постановления Минтруда и Минобразования №1/29: «работодатель должен организовать обучение работников рабочих профессий оказанию первой помощи в течение месяца при поступлении на работу и периодически не реже 1 раза в год». В соответствии со ст. 214 «Обязанности работника в области охраны труда» Трудового кодекса РФ [1] работник (наряду с другими требованиями) обязан проходить обучение безопасным методам и приемам выполнения работ по охране труда, оказанию первой помощи при несчастных случаях на производстве.</div>
<div>
	Категории слушателей: работники организаций любых форм собственности, в том числе специалисты по охране труда и работники подразделений с вредными и (или) опасными условиями труда, где наиболее высока вероятность получения травмы, обремененной тяжелыми последствиями; работники социальных учреждений, педагогические работники.</div>
<div>
	&nbsp;</div>
<div>
	<strong>Цель программы:&nbsp;</strong></div>
<div>
	―<span style="white-space:pre"> </span>подготовка штатной единицы, которая бы могла не только самостоятельно оказать помощь при несчастном случае или террористическом акте, но и организовать на предприятии систему подготовки персонала;</div>
<div>
	―<span style="white-space:pre"> </span>приобретение новой группы компетенций или качественное изменение приобретенных ранее компетенций в вопросе обучения персонала предприятия навыкам оказания первой помощи при несчастных случаях на производстве и в чрезвычайных ситуациях.</div>
<div>
	&nbsp;</div>
<div>
	<strong>Срок обучения:</strong> 72 часа.</div>
<div>
	<strong>Форма обучения</strong>: очно-заочная.</div>
<div>
	<strong>Форма итоговой аттестаци</strong>и: зачет.&nbsp;</div>
<div>
	Лицам, успешно освоившим программу и прошедшим итоговую аттестацию, выдаются удостоверения о повышении квалификации установленного образца.&nbsp; &nbsp;&nbsp;</div>
<div>
	<strong>Рассматриваемые вопросы:</strong></div>
<div>
	―<span style="white-space:pre"> </span>Принципы оказания первой помощи;</div>
<div>
	―<span style="white-space:pre"> </span>Основы анатомии и физиологии;</div>
<div>
	―<span style="white-space:pre"> </span>Юридические аспекты оказания первой помощи;</div>
<div>
	―<span style="white-space:pre"> </span>Основы психологической помощи и самопомощи;</div>
<div>
	―<span style="white-space:pre"> </span>Алгоритм первичных действий;</div>
<div>
	―<span style="white-space:pre"> </span>Сердечно-легочная реанимация (СЛР)Нарушение дыхания. Варианты спасения при попадании в дыхательные пути инородного тела;</div>
<div>
	―<span style="white-space:pre"> </span>Принципы первой помощи при ранах и переломах;</div>
<div>
	―<span style="white-space:pre"> </span>Принципы первой помощи при термической травме (ожогах, обморожениях, переохлаждении);</div>
<div>
	―<span style="white-space:pre"> </span>Принципы первой помощи при электротравме;</div>
<div>
	―<span style="white-space:pre"> </span>Принципы первой помощи при черепно-мозговой травме (ЧМТ);</div>
<div>
	―<span style="white-space:pre"> </span>Принципы первой помощи при сердечном приступе, эпилепсии, инсульте, обмороке, коме;</div>
<div>
	―<span style="white-space:pre"> </span>Варианты транспортировки пострадавшего;</div>
<div>
	―<span style="white-space:pre"> </span>Принципы первой помощи пострадавшим при ДТП;</div>
<div>
	―<span style="white-space:pre"> </span>Ситуационно-ролевые игры по сценариям наиболее типичных чрезвычайных ситуаций;</div>
<div>
	―<span style="white-space:pre"> </span>Методика обучения работников организации, использование тренажеров, требования к оснащению учебного класса, ведение журналов инструктажей</div>



    <div class="visits mt15">
	</div>
    </div>
{% endblock %}