{% extends "base.html" %}
{% block navig_btn_b %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
   <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Повышение квалификации педагогов</span></div>
        <h1 class="title"><span>Повышение квалификации педагогов</span></h1>
                <p>
	<strong>НОЧУ ДПО "УЦПК" проводит обучение по дополнительным профессиональным программам повышения квалификации:&nbsp;&nbsp;</strong></p>
<div>
	&nbsp;</div>
<ul style="margin-left: 40px;">
	<li>
		«Управленческие и организационно-содержательные аспекты деятельности образовательной организации по введению предмета «Русский родной язык»&nbsp;</li>
</ul>

	Образовательная программа &nbsp;курсов повышения квалификации «Управленческие и организационно-содержательные аспекты деятельности образовательной организации по введению предмета «Русский родной язык»&nbsp;&nbsp;&nbsp;</p>
<p>
	направлена на обеспечение оптимального вхождения педагогических работников (учителей русского языка и литературы) в &nbsp;освоение новой &nbsp;учебной программы «Русский родной язык»</p>
<p>
	Вид программы – дополнительная профессиональная.</p>
<p>
	Подвид программы – дополнительное профессиональное образование.</p>
<p>
	Направленность программы – социально-педагогическая.</p>
<p>
	&nbsp;</p>
<p>
	<strong>Цели &nbsp;</strong></p>
<p>
	1. &nbsp;Развитие ключевых компетенций для успешной реализации ФГОС:</p>
<ul>
	<li>
		профессиональной, &nbsp;&nbsp;</li>
	<li>
		информационной,</li>
	<li>
		коммуникативной, &nbsp;</li>
	<li>
		правовой,&nbsp;</li>
	<li>
		психологической.</li>
</ul>
<p>
	2.Формирование профессиональной готовности педагогических работников образовательных организаций к реализации &nbsp;программы «Русский родной язык»</p>
<p style="margin-left:54.0pt;">
	<strong>Задачи Программы</strong>:</p>
<ul>
	<li>
		ознакомить с основными нормативными документами и методическими материалами по введению учебного предмета «Русский родной язык»;</li>
	<li>
		&nbsp;ознакомить с &nbsp;&nbsp;подходами к разработке рабочей программы «Русский родной язык» для уровней начального общего образования и основного общего образования образовательной организации на основе Примерной основной образовательной программы ООО «Русский родной язык»;</li>
	<li>
		ознакомить с&nbsp; установленными&nbsp; требованиями к результатам освоения основной образовательной программы основного общего образования по русскому родному языку на личностном, метапредметном и предметном уровнях, &nbsp;примерным содержанием учебного предмета «Русский родной язык»,&nbsp; &nbsp;основными методическими стратегиями обучения, воспитания и развития обучающихся средствами учебного предмета «Русский родной язык».</li>
</ul>
<p>
	<strong>Планируемый результат повышения квалификации</strong> – это профессиональная готовность педагогических работников (учителей начальных классов, русского языка и литературы) &nbsp;к реализации учебного предмета «Русский родной язык»</p>
<p>
	В результате освоения Программы слушатели должны <strong>знать</strong>:</p>
<ul>
	<li>
		нормативные документы, обеспечивающие введение учебного предмета «Русский родной язык»;</li>
	<li>
		методические основы формирования рабочей программы начального общего и основного общего образования по учебному&nbsp; предмету «Русский родной язык»;</li>
	<li>
		основные подходы к реализации рабочей программы «Русский родной язык» на содержательном уровне, в рамках тематического планирования и изучения предмета «Русский язык» как государственный</li>
	<li>
		основные направления и цели оценочной деятельности &nbsp;к &nbsp;&nbsp;оценке результатов освоения учебного предмета «Русский родной язык».</li>
</ul>
<p style="margin-left:36.0pt;">
	&nbsp;</p>
<p>
	&nbsp;В результате освоения Программы слушатели должны овладеть следующие практические <strong>умения</strong>:</p>
<ul>
	<li>
		перечислять и анализировать нормативные документы, регламентирующие введение учебного предмета «Русский родной язык»;</li>
</ul>
<ul>
	<li>
		разрабатывать рабочую программу по учебному предмету «Русский родной язык», соответствующую требованиям ФГОС НОО и ФГОС ООО, адекватно отражающую специфику образовательной организации, обучаемого контингента;</li>
	<li>
		владеть рефлексивно-оценочной деятельностью с позиций: цель, средство, результат.</li>
</ul>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}