{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Документы</span></div>
        <h1 class="title"><span>Документы</span></h1>
                <ol>
	<li>
		<a href="/">&nbsp;Устав образовательной организации</a></li>
	<li>
		<hr>
		<p>
			<a href="/media/лицензия_с_приложением_НОЧУ_ДПО_УЦПК.pdf">Лицензия на осуществление образовательной деятельности</a>&nbsp;(с приложением)</p>
	</li>
	<li>
		<hr>
		<p>
			Свидетельство о государственной аккредитации - не предусмотрено</p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/">Правила приема поступающих</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Режим_занятий_обучающихся.pdf">Режим занятий обучающихся</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Формы_периодичность_и_порядок_текущего_контроля_успеваемости_и_промежуточной_аттестации.pdf">Формы, периодичность и порядок текущего контроля успеваемости и промежуточной аттестации обучающихся</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/полож_о_порядке_и_основаниях_перевода.pdf">Порядок и основания перевода, отчисления и восстановления обучающихся</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Положение_возникновение_приостоновления_и_прекращения.pdf">Порядок оформления возникновения, приостановления и прекращения отношений между образовательной организацией и обучающимися и (или) родителями (законными представителями) несовершеннолетних обучающихся</a></p>
	</li>
	<li>
		<hr>
		<p>
			План финансово-хозяйственной деятельности образовательной организации, утвержденный в установленном законодательством Российской Федерации порядке, или бюджетные сметы образовательной организации.</p>
		<div>
			<br>
			Требования к составлению плана финансово-хозяйственной деятельностью, утверждению и размещению в свободном доступе, согласно подпункту 6 пункта 3.3 статьи 32 Федерального закона от 12 января 1996 г. N 7- ФЗ «О некоммерческих организациях» и подзаконным нормативным актам, в обязательном порядке реализуются только государственными (муниципальными) образовательными организациями. Порядок составления плана финансово-хозяйственной деятельности регламентирован требованиями Министерства финансов РФ (Приказ №81н "О требованиях к плану финансово-хозяйственной деятельности государственного (муниципального) учреждения"от 28.07.2013 г.).&nbsp;</div>
		<div>
			НОЧУ ДПО "УЦПК" не является получателем субсидий на выполнение государственного (муниципального) задания, целевых субсидий, а так же бюджетных инвестиций. Денежные средства поступают от оказания платных образовательных услуг, а так же других видов услуг в соответствии с Уставом и расходуются согласно уставным целям.</div>
	</li>
	<li>
		<div>
			<div>
				<hr>
				<p>
					<a href="/media/правила_внутреннего_распорядка1.pdf">Правила внутреннего распорядка обучающихся</a></p>
			</div>
		</div>
	</li>
	<li>
		<hr>
		<p>
			<a href="/">Правила внутреннего трудового распорядка</a></p>
	</li>
	<li>
		<hr>
		<p>
			Коллективный договор.<br>
			На данный момент&nbsp; коллективный договор в НОЧУ ДПО «УЦПК» не заключен ввиду отсутствия инициативы как со стороны работников, так и со стороны работодателя. Все правоотношения, возникшие между работодателем и работниками, регулируются&nbsp; положениями трудового законодательства.</p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Отчет_о_результатах1.pdf">Отчет о результатах самообследования.</a></p>
	</li>
	<li>
		<hr>
		<p>
			Документы о порядке оказания платных образовательных услуг.<br>
			— <a href="/media/договор_образец2.pdf">Образец договора об оказании платных образовательных услуг</a><br>
			—<a href="/media/стоимость_платных_образовательных_услуг2.pdf">Документ об утверждении стоимости</a><br>
			— <a href="/media/Порядок_оказания_платных_услуг1.pdf">Порядок оказания платных образовательных услуг</a></p>
	</li>
	<li>
		<hr>
		<p>
			Предписания органов, осуществляющих государственный контроль (надзор) в сфере образования.<br>
			Отсутствуют.</p>
	</li>
	<li>
		<hr>
		<p>
			Отчеты об исполнении предписаний&nbsp;органов, осуществляющих государственный контроль (надзор) в сфере образования.<br>
			Отсутствуют.</p>
	</li>
</ol>
<p>
	&nbsp;</p>
<h3>
	Внутренние нормативные акты</h3>
<p>
	&nbsp;</p>
<ol>
	<li>
		<p>
			<a href="/media/полож_об_организ_питания11.pdf">Положение «Об организации питания обучающихся»</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Охрана_здоровья_обуч1.pdf">Положение «Об охране здоровья обучающихся»</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Персональные_данные1.pdf">Положение&nbsp; «О порядке обработки и защите персональных данных»</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Положение_О_правах_и_обязанностях_обучающегося1.pdf">Положение "О правах и обязанностях обучающегося"</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Положение_О_профессиональной_этике_педагогических_работников1.pdf">Положение "О профессиональной этике педагогических работников"</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Индивид._уч.план_и_графику1.pdf">Положение «О порядке обучения по индивидуальному учебному плану, индивидуальному учебному графику,&nbsp; ускоренному обучению обучающихся в&nbsp; пределах осваиваемой образовательной программы»</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/о_порядке_выдачи_форме_справок1.pdf">Положение «О порядке выдачи и форме справки об обучении по образовательным программам дополнительного профессионального образования»&nbsp;</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/положение_о_конфликтной_комиссии.pdf">Положение о конфликтной комиссии в НОЧУ ДПО "УЦПК"</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Аттестация_педагогических_работников.pdf">Положение&nbsp; «О порядке проведения аттестации педагогических работников&nbsp; в целях подтверждения соответствия занимаемой должности»&nbsp;</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/О_порядке_итоговой_аттестации_1.pdf">Положение «О порядке организации итоговой аттестации при реализации дополнительных профессиональных программ повышения квалификации»&nbsp;</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Расследование_несчастных_случаев.pdf">Положение «О порядке расследования и учета несчастных случаев с обучающимися&nbsp; в НОЧУ ДПО "УЦПК"</a></p>
	</li>
	<li>
		<hr>
		<p>
			<a href="/media/Положение_об_организации_образовательного_прцесса_для_инвалидов_и_лиц_с_ОВЗ.pdf">Положение «Об организации образовательного процесса для инвалидов и лиц с ОВЗ в </a></p>
	</li>
</ol>
<p>
	&nbsp;</p>
    <div>        <h5 class="mb10 mt15 documents_title"><b>Устав образовательной организации</b></h5>
            <ul class="documents mb15">
          <li class="document_li"><img src="/media/images/pdf_png.png" class="doc_icon">
        <div class="d_cell">
          <a title="скачать 59FKQzBBrr8yiehBGHNahtae6.pdf" href="/media/Устав_esr5K0e.pdf">Устав</a>
          <div class="pl15"><small class="gray_color1"></small></div>
          <span class="date gray_color small pl15">(Загружено на сайт 15 февраля 2021 в 13:22 | Размер 500,3 Kb)</span>                  </div>
      </li>
                </ul>

      </div><div>        <h5 class="mb10 mt15 documents_title"><b>Свидетельство о государственной аккредитации</b></h5>
              <p>
        <noindex>В данной категории пусто</noindex>
      </p>

      </div><div>        <h5 class="mb10 mt15 documents_title"><b>Лицензия на осуществление образовательной деятельности</b></h5>
            <ul class="documents mb15">
          <li class="document_li"><img src="/media/images/pdf_png.png" class="doc_icon">
        <div class="d_cell">
          <a title="скачать YrbGY5dFr6B83k2aEQE5YaQnE.pdf" href="/media/приложение_лицензии.pdf">Приложение к лицензии</a>
          <div class="pl15"><small class="gray_color1"></small></div>
          <span class="date gray_color small pl15">(Загружено на сайт 15 февраля 2021 в 13:27 | Размер 138,6 Kb)</span>                  </div>
      </li>

            <li class="document_li"><img src="/media/images/pdf_png.png" class="doc_icon">
        <div class="d_cell">
          <a title="скачать HZz37T7Z3is3EAfGYFE3Qyyzb.pdf" href="/media/лицензия_уцпк.pdf">лицензия НОЧУ ДПО УЦПК</a>
          <div class="pl15"><small class="gray_color1"></small></div>
          <span class="date gray_color small pl15">(Загружено на сайт 15 февраля 2021 в 13:27 | Размер 189,2 Kb)</span>                  </div>
      </li>
                </ul>

      </div><div>        <h5 class="mb10 mt15 documents_title"><b>Правила внутреннего распорядка обучающихся</b></h5>
              <p>
        <noindex>В данной категории пусто</noindex>
      </p>

      </div><div>        <h5 class="mb10 mt15 documents_title"><b>Правила внутреннего трудового распорядка</b></h5>
              <p>
        <noindex>В данной категории пусто</noindex>
      </p>

      </div><div>        <h5 class="mb10 mt15 documents_title"><b>Коллективный договор</b></h5>
              <p>
        <noindex>В данной категории пусто</noindex>
      </p>

      </div><div>        <h5 class="mb10 mt15 documents_title"><b>Отчет о результатах самообследования</b></h5>
              <p>
        <noindex>В данной категории пусто</noindex>
      </p>

      </div><div>        <h5 class="mb10 mt15 documents_title"><b>Предписания органов, осуществляющих государственный контроль (надзор) в сфере образования, отчеты об исполнении таких предписаний (при наличии)</b></h5>
              <p>
        <noindex>В данной категории пусто</noindex>
      </p>

      </div><div>        <h5 class="mb10 mt15 documents_title"><b>Локальные нормативные акты образовательной организации по основным вопросам организации и осуществления образовательной деятельности</b></h5>
              <p>
        <noindex>В данной категории пусто</noindex>
      </p>

      </div>


    <div class="visits mt15">
	</div>
    </div>
{% endblock %}