{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href=".">Главная</a> / <span>Платные образовательные услуги</span></div>
        <h1 class="title"><span>Платные образовательные услуги</span></h1>
                <h3 style="text-align: justify;">
	<span style="color: rgb(28, 28, 28);">Документы о порядке оказания платных образовательных услуг.</span></h3>
<p style="text-align: justify;">
	&nbsp;</p>
<p>
	<span style="text-align: justify; color: rgb(28, 28, 28);">—&nbsp;</span><a href="/media/порядок_платных_образовательных_услуг1.pdf" style="text-align: justify;">Порядок оказания платных образовательных услуг</a></p>
	<p><span style="text-align: justify; color: rgb(28, 28, 28);">—&nbsp;</span><a href="/media/договор_образец2_XGUIKH3.pdf" style="text-align: justify;">Образец договора об оказании платных образовательных услуг</a></p>
	<p><span style="text-align: justify; color: rgb(28, 28, 28);">—&nbsp;</span><a href="/media/стоимость_платных_образовательных_услуг3.pdf" style="text-align: justify;">Документ об утверждении стоимости</a></p>
	<p><span style="text-align: justify; color: rgb(28, 28, 28);">—&nbsp;</span><a href="/media/образцы_выдаваемых_документов4.pdf" style="text-align: justify;">Образцы выдаваемых документов</a></p>
	<p><span style="text-align: justify; color: rgb(28, 28, 28);">—&nbsp;</span><a href="/media/Закон_РФ_от_07.02.1992_N_2300-1_ред._от_29.07.2018_5.rtf" style="text-align: justify;">Закон РФ от 07.02.1992 N 2300-1 (ред. от 29.07.2018) "О защите прав потребителей"</a></p>
	<p><span style="text-align: justify; color: rgb(28, 28, 28);">—&nbsp;</span><a href="/media/платка6.pdf" style="text-align: justify;">Постановления Правительства Российской Федерации от 15 сентября 2020 № 1441 «Об утверждении Правил оказания платных образовательных услуг»"</a></p>
	<p><span style="text-align: justify; color: rgb(28, 28, 28);">—&nbsp;</span><a href="/" style="text-align: justify;">Постановления Правительства Российской Федерации от 15 сентября 2020 № 1441 «Об утверждении Правил оказания платных образовательных услуг»"</a></p>




    <div class="visits mt15">
	</div>
    </div>
{% endblock %}