{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Образование</span></div>
        <h1 class="title"><span>Образование</span></h1>
                <div>
	<br>
	<div>
		НОЧУ ДПО «УЦПК» является организацией дополнительного профессионального образования и реализует дополнительные профессиональные программы повышения квалификации.&nbsp;</div>
	<div>
		Адаптированные образовательные программы не реализуются.&nbsp;</div>
	<div>
		&nbsp;</div>
	<ul>
		<li>
			Образовательные программы в НОЧУ ДПО «УЦПК» реализуются в очной, очно-заочной формах.&nbsp;</li>
		<li>
			Обучение ведется на русском языке.</li>
		<li>
			Нормативный срок обучения определяется согласно утвержденной образовательной программе.</li>
	</ul>
	<div>
		&nbsp;</div>
	<div>
		Помимо реализации образовательных программ НОЧУ ДПО «УЦПК» организует и проводит семинары (в том числе бесплатные), конференции, лекции и консультации&nbsp; по направлениям реализуемых образовательных программ.</div>
	<div>
		&nbsp;</div>
	<h3>
		Реализуемые образовательные программы:</h3>
	<div>
		&nbsp;</div>
	<div>
		<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Наименование образовательной программы</th>
      <th scope="col">Нормативный срок освоения</th>
      <th scope="col">Описание образовательной программы</th>
      <th scope="col">Учебный план, календарный учебный график</th>
      <th scope="col">Аннотации к рабочим программам</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary">
      <td colspan="5">Повышение квалификации</td>
    </tr>
    <tr>
      <th scope="row">Охрана труда для руководителей и специалистов организаций</th>
      <td>40 ч.</td>
        <td><a href="/media/ПРОГРАММА_ПО_ОХРАНЕ_ТРУДА.pdf">Скачать</a></td>
      <td><a href="/media/учебный_план_и_календарный_график.pdf">Скачать</a></td>
      <td><a href="/media/аннот_охр_труда.pdf">Скачать</a></td>
    </tr>
    <tr>
      <th scope="row">Инструктор по обучению приемам и методам оказания первой помощи</th>
      <td>72 ч.</td>
        <td><a href="/media/программа___Инструктор_по_обучению_приемам_и_методам_оказания_первой_помощи_пострадавшим.pdf">Скачать</a></td>
      <td><a href="/media/учебный_план_и_календарный_график1.pdf">Скачать</a></td>
      <td><a href="/media/аннотация_инструктор_по_оказанию__первой_помощи.pdf">Скачать</a></td>
    </tr>
    <tr>
      <th scope="row">«Управленческие и организационно-содержательные аспекты деятельности образовательной организации по введению предмета «Русский родной язык»</th>
      <td>16 ч.</td>
        <td><a href="/media/КПК.pdf">Скачать</a></td>
      <td><a href="/media/УЧЕБНЫЙ_ПЛАН2.pdf">Скачать</a></td>
      <td><a href="/media/аннотация_к_проге_русс_яз3.pdf">Скачать</a></td>
    </tr>
    <tr class="table-primary">
      <td colspan="5">Профессиональное обучение</td>
    </tr>
    <tr>
      <th scope="row">Стропальщик</th>
      <td>60 ч.</td>
        <td><a href="/media/СТРОПАЛЬЩИК1.pdf">Скачать</a></td>
      <td><a href="/media/СТРОПАЛЬЩИК2.pdf">Скачать</a></td>
      <td><a href="/media/Стропальщик3.pdf">Скачать</a></td>
    </tr>

  </tbody>
</table>
	</div>
	<p>
		&nbsp;</p>
	<p>
		<strong>&nbsp;Лицензии на осуществление образовательной деятельности <a href="/media/выписка_из_реестра_лицензий1.pdf">(выписка из реестра лицензий на осуществление образовательной деятельности)</a></strong></p>
	<p>
		В ходе реализации дополнительных профессиональных программ и программ профессионального обучения в НОЧУ ДПО «УЦПК» применяются элементы электронного обучения, дистанционные образовательные технологии.&nbsp;</p>
	<p>
		Порядок применения электронного обучения, дистанционных образовательных технологий&nbsp; при реализации дополнительных профессиональных программ. (<a href="/media/Электронное_обучение2.pdf">Скачать документ</a>).</p>
	<p>
		&nbsp;</p>
	<p>
		Для обеспечения образовательного процесса в НОЧУ ДПО «УЦПК» разработаны методические и иные документы по ряду направлений.<br>
		Сведения о наличии разработанных методических и иных документов. (<a href="/media/сведения_о_разработанных_методических_и_иных_документов3.pdf">Скачать документ</a>)&nbsp;</p>
	<p>
		&nbsp;</p>
	<p>
		НОЧУ ДПО «УЦПК» обучение осуществляется&nbsp; за счет&nbsp; средств физических и (или) юридических лиц.&nbsp;<br>
		Планируемая численность обучаемых на 2021 год – 1912 человек (при условии полной наполняемости групп).</p>
	<p>
		Бюджетное финансирование не производится.&nbsp;</p>
	<p>
		Мест для приема и перевода,&nbsp;финансируемых за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов РФ и местных бюджетов, не имеется.</p>
	<p>
		&nbsp;</p>
	<p>
		<strong>Прием слушателей </strong>в НОЧУ ДПО «УЦПК» на обучение осуществляется в соответствии&nbsp;<a href="/media/Правила_приема_обучающихся4.pdf">Правилами&nbsp; приема обучающихся.</a></p>
	<p>
		&nbsp;</p>
	<p>
		<a href="/media/информация_о_численности_обучающихся_1.docx"><strong>Информация о численности обучающихся</strong></a></p>
	<p>
		&nbsp;</p>
	<p>
		<strong>Перевод осуществляется </strong>на основании&nbsp;<a href="/media/положение6.pdf">Положения «О порядке и основаниях перевода, отчисления и восстановления обучающихся».</a></p>
	<p>
		&nbsp;</p>
	<p>
		Комплектование групп осуществляется постоянно по всем реализуемым программам в соответствии с расписанием. По заявке организации (при условии формирования группы) может быть организована дополнительная группа по любой из реализуемых программ. Наполняемость группы – до 18 человек.</p>
	<p>
		&nbsp;</p>
	<p>
		<strong>Количество заключенных договоров об оказании платных образовательных услуг на 01.07.2021 год составляет: </strong>18 договоров.</p>
</div>
<div>
	&nbsp;</div>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}