{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Руководство. Педагогический (научно-педагогический) состав</span></div>
    <section class="workers news">
<h1 class="title"><span>Руководство. Педагогический (научно-педагогический) состав</span></h1>
<div class="desc">
    <div style="padding: 0 0 20px; overflow:hidden; height: 1%;"><ul class="subsection">
	<li>
		<a href="/media/Руководство_образовательной_организации..docx">Администрация образовательной организации</a></li>
	<li>
		<a href="/media/Кадры_НОЧУ_ДПО_УЦПК.doc">Педагогический состав</a></li>
</ul>
</div></div>


</section>

    </div>
{% endblock %}