{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> /  <span>Структура и органы управления образовательной организацией</span></div>
        <h1 class="title"><span>Структура и органы управления образовательной организацией</span></h1>
                <div>
	&nbsp;</div>
<div>
	<br>
	<h2 style="text-align: justify;">
		<span style="font-size:20px;">Структура и органы управления образовательной организацией НОЧУ ДПО «УЦПК»</span></h2>
	<p style="text-align: justify;">
		&nbsp;</p>
	<h3>
		Управление организацией</h3>
	<p style="text-align: justify;">
		&nbsp;</p>
	<div>
		<p>
			Негосударственное образовательное частное учреждение дополнительного профессионального образования "Уральский центр подготовки кадров" является&nbsp; не&nbsp; имеющей&nbsp; членства унитарной некоммерческой&nbsp; &nbsp;организацией.</p>
	</div>
	<div>
		Управление Организацией осуществляется в соответствии с действующим законодательством и Уставом.</div>
	<div>
		&nbsp;</div>
	<p style="text-align: justify;">
		<strong style="color: rgb(28, 28, 28);">Учредитель</strong></p>
	<div>
		Учредитель является высшим руководящим органом управления Организации..</div>
	<div>
		&nbsp;</div>
	<div>
		К исключительной компетенции Учредителя относится:</div>
	<ul>
		<li>
			внесение изменений в Устав Организации;</li>
		<li>
			определение приоритетных направлений деятельности Организации, принципов формирования и использования ее имущества;</li>
		<li>
			определение порядка приема в состав учредителей Организации и исключения из состава ее учредителей;</li>
		<li>
			образование органов Организации и досрочное прекращение их полномочий;</li>
		<li>
			иные компетенции, указанные&nbsp; в Уставе Образовательной организации.</li>
	</ul>
	<div>
		&nbsp;</div>
	<h4 style="text-align: justify;">
		<strong><strong style="color: rgb(28, 28, 28);">Директор</strong></strong></h4>
	<p style="text-align: justify;">
		Единоличным исполнительным органом Организации является директор, который осуществляет непосредственное руководство ее деятельностью. Директор назначается Учредителем сроком на 1 год.</p>
	<div>
		&nbsp;</div>
	<div>
		К компетенции Директора относится решение всех вопросов, которые не составляют исключительную компетенцию Учредителя:</div>
	<ul>
		<li>
			представляет интересы Организации, действует от ее имени без доверенности;</li>
		<li>
			осуществляет исполнительно-распорядительные функции;</li>
		<li>
			решает все вопросы текущей деятельности организации;</li>
		<li>
			иные компетенции, указанные&nbsp; в Уставе Организации.</li>
	</ul>
	<div>
		&nbsp;</div>
	<h4 style="text-align: justify;">
		Общее собрание работников (коллегиальный орган управления).</h4>
	<div>
		Срок действия полномочий членов Общего собрания работников определяется сроками действия трудовых договоров, заключенных с работниками. Общее собрание работников собирается Директором Организации не реже одного раза в год.</div>
	<div>
		&nbsp;</div>
	<div>
		К компетенции Общего собрания работников относится:</div>
	<ul>
		<li>
			рассмотрение локальных нормативных актов Образовательной организации, затрагивающих права и обязанности работников;</li>
		<li>
			рассмотрение и обсуждение вопросов материально-технического обеспечения и оснащения образовательного процесса;</li>
		<li>
			рекомендация работников Организации к поощрению (награждению);</li>
		<li>
			обсуждение и принятие коллективного договора, выдвижение представителей работников для участия в Комиссии по ведению коллективных переговоров и подготовке проекта коллективного договора, которая создаётся для решения вопросов заключения, изменения и дополнения коллективного договора при наличии инициативы работников или работодателя;&nbsp;</li>
		<li>
			определение численности и сроков полномочий комиссии по трудовым спорам, избрание ее членов, формирование других комиссий, в том числе по охране труда и соблюдению техники безопасности, а также по решению вопросов социальной защиты.</li>
	</ul>
	<div>
		&nbsp;</div>
	<p style="text-align: justify;">
		Положение об общем собрании работников (<a href="/media/положение_общее_собрание_работников.pdf">Скачать</a>)</p>
	<p style="text-align: justify;">
		&nbsp;</p>
	<h4 style="text-align: justify;">
		Педагогический совет&nbsp; (коллегиальный орган управления).</h4>
	<div>
		Срок полномочий членов Педагогического совета определяется сроками действия трудовых договоров, заключенных с педагогическими работниками. Заседания Педагогического совета проводятся по мере необходимости, но не реже одного раза в 6 месяцев.</div>
	<div>
		&nbsp;</div>
	<div>
		К компетенции Педагогического совета относятся:</div>
	<ul>
		<li>
			планирование учебного процесса (учебные планы по специальностям и направлениям), в том числе изменение сроков обучения;</li>
		<li>
			организация и совершенствование методического обеспечения образовательного процесса.</li>
	</ul>
	<h4 style="text-align: justify;">
		Педагогический совет&nbsp; (коллегиальный орган управления).</h4>
	<div>
		Срок полномочий членов Педагогического совета определяется сроками действия трудовых договоров, заключенных с педагогическими работниками. Заседания Педагогического совета проводятся по мере необходимости, но не реже одного раза в 6 месяцев.</div>
	<div>
		&nbsp;</div>
	<div>
		К компетенции Педагогического совета относятся:</div>
	<ul>
		<li>
			планирование учебного процесса (учебные планы по специальностям и направлениям), в том числе изменение сроков обучения;</li>
		<li>
			организация и совершенствование методического обеспечения образовательного процесса.&nbsp;</li>
	</ul>
	<div>
		&nbsp;</div>
	<div>
		Положение о педагогическом совете (<a href="/media/положение_о_педагогич_совете_OEKc65N.pdf">Скачать</a>).</div>
	<div>
		Устав Организации (<a href="/media/Устав.pdf">Скачать</a>)</div>
	<div>
		<p style="margin-left: 40px;">
			&nbsp;</p>
	</div>
	<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th scope="col">Должность</th>
      <th scope="col">ФИО</th>
      <th scope="col">Место нахождения</th>
      <th scope="col">Контактный телефон</th>
      <th scope="col">Адрес электронной почты</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Директор</th>
      <td>Первухин Алексей Игоревич</td>
      <td><p>
					г. Екатеринбург,
ул. Чебышева, 6, оф. 319</p>
          </td>
      <td><p>
					8 (343) 375-86-44</p>
				</td>
      <td><p>
					ural-cpk@mail.ru</p>
				</td>

    </tr>
    <tr>
      <th scope="row">Заместитель директора</th>
      <td>Скворцов Сергей Семенович</td>
      <td><p>
					г. Екатеринбург,
ул. Чебышева, 6, оф. 319</p>
          </td>
      <td><p>
					8 (343) 375-86-44</p>
				</td>
      <td><p>
					ural-cpk@mail.ru</p>
				</td>

    </tr>
  </tbody>
    </table>
</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}