{% extends "base.html" %}
{% block navig_btn_e %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> /  <span>Аттестация</span></div>
        <h1 class="title"><span>Аттестация</span></h1>
                <p align="center">
	<em>Негосударственное образовательное частное учреждение дополнительного профессионального образования "Уральский центр подготовки кадров"</em></p>
<p align="center">
	Сведения о персональном составе педагогических работников по состоянию на 11.01.2021г</p>
<p>
	&nbsp;</p>
<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th scope="col">№</th>
      <th scope="col">ФИО преподавателя</th>
      <th scope="col">Должность/ уровень квалификации</th>
      <th scope="col">Соответствие занимаемой должности</th>
      <th scope="col">Повышение квалификации</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Первухин Алексей Игоревич</td>
      <td><p>
					Преподаватель/ биология; учитель биологии</p>
				<p>
					(Диплом ВСВ №0492518 Регистрационный №5684 от 10.06.2005г.</p>
				<p>
					ГОУ ВПО «Шадринский государственный педагогический институт»)</p></td>
      <td><p>
					Соответствие занимаемой должности,</p>
				<p>
					Протокол № 1-А от 28.06.2013г Соответствие занимаемой должности,</p>
				<p>
					Протокол № 5 от 20.06.2018г</p></td>
      <td><p>
					Удостоверение о повышении квалификации № 166600000001, рег № 1 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2014г. 72 ч.</p>
				<p>
					Удостоверение о повышении квалификации рег. № 033755 по ДПП «Организация образовательного процесса на основе межпредметных технологий», 2018г. 18 ч.</p>
				<p>
					Удостоверение о повышении квалификации № 166600008004, рег № 1537 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2020г. 24 ч.</p></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Скворцов Сергей Семенович</td>
      <td><p>
					Бакалавр физики</p>
				<p>
					(Диплом АВБ №0243513 Регистрационный №369 от 22.06.1999г.Уральский Государственный Университет им. А.М. Горьгого)</p>
				<p>
					Юрист по специальности юриспруденция</p>
				<p>
					(Диплом ВСГ 0289498</p>
				<p>
					Регистрационный № 6044 от 10.07.2008Уральский Финансово Юридический Институт)</p></td>
      <td><p>
					Соответствие занимаемой должности,</p>
				<p>
					Протокол №1 от 28.06.2013г Соответствие занимаемой должности,</p>
				<p>
					Протокол № 5 от 20.06.2018г</p></td>
      <td><p>
					Удостоверение о повышении квалификации № 166600000002, рег № 2 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2014г. 72 ч.</p>
				<p>
					Удостоверение о повышении квалификации № 166600008003, рег № 1536 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2020г. 24ч.</p>
				<p>
					&nbsp;</p></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><p>
					Маклакова Елена Ивановна</p>
				</td>
      <td><p>
					Преподаватель/русский язык и литература; учитель русского языка и литературы (Диплом Г-1 № 622704 от 27.06.1978 г. Свердловский государственный педагогический институт)</p></td>
      <td><p>
					Соответствие занимаемой должности, протокол № 7-1 от 20.08.2014г.</p>
				<p>
					Соответствие занимаемой должности, протокол № 8-1 от 20.08.2019г.</p></td>
      <td><p>
					Удостоверение о повышении квалификации № 180000155033, рег № 1474/49 по ДПП «Организационно-управленческие механизмы перехода к новому «Порядку организации и осуществления образовательной деятельности по образовательным программам НОО, ОО, СОО в образовательных организациях, реализующих образовательные программы среднего общего образования» ГБОУ ВПО города Москвы «Московский городской педагогический университет», 2014г., 36ч.;</p>
				<p>
					Удостоверение о повышении квалификации № 231200303958, рег. № ОЦС/ПК-17/002386 в Образовательном Фонде «Талант и успех» по программе «Обучение поколения 21 века: гуманитарные и диалоговые технологии, контрольно-измерительные материалы, цифровые ресурсы», 72ч., г. Сочи, 2017г.</p>
				<p>
					Удостоверение о повышении квалификации, рег. № 033630 по ДПП «Организация образовательного процесса на основе межпредметных технологий», 18ч.,Тамбовский областной ГОАУ ДПО «ИПКРО», 2018г;</p>
				<p>
					Удостоверение о повышении квалификации № 134118191811, рег. № 8100 по ДПП «Модернизация технологий и содержания обучения на основе реализации метапредметного подхода по русскому языку и литературе в соответствии с ФГОС», 36ч. ГБУ ДПО Республики Мордовия «Центр непрерывного повышения профессионального мастерства педагогических работников – «Педагог 13.ру, г. Саранск, 2019г.;</p>
				<p>
					Удостоверение о повышении квалификации № 134118202790, рег.№ 2790 по ДПП «Эффективные модели преподавания русского языка (как родного, как неродного)», 18ч., . ГБУ ДПО Республики Мордовия «Центр непрерывного повышения профессионального мастерства педагогических работников – «Педагог 13.ру, г. Саранск, 2020г.;</p></td>
    </tr>
  <tr>
      <th scope="row">4</th>
      <td><p>
					Первушина Наталья Витальевна</p>
      </td>
      <td><p>
					Преподаватель/ физика; учитель физики средней школы (Диплом НВ № 642241 от 01.07.1987г. Свердловский государственный ордена «Знак Почета» педагогический институт)</p></td>
      <td><p>
					Соответствие занимаемой должности, протокол № 7-1 от 20.08.2014г</p>
				<p>
					Соответствие занимаемой должности, протокол № 8-1 от 20.08.2019г.</p></td>
      <td><p>
					1.Удостоверение о краткосрочном повышении квалификации № 5328&nbsp; по ДПП «Развитие профессиональной компетенции экспертов по вопросам лицензирования, аттестации и аккредитации»&nbsp; ГОУ ДПО «ИРРО Свердловской области» 25.12.2008г. 72 час.</p>
				<p>
					2.Удостоверение о краткосрочном повышении квалификации № 202 по ДПП «Противодействие коррупции в органах власти» ЕМАОУ ДПО «Институт муниципального управления» г. Екатеринбург 01.12.2010 72 час.</p>
				<p>
					3. Удостоверение о краткосрочном повышении квалификации №2226 по ДПО «Обучение физике в условиях перехода на ФГОС ОО второго поколения»&nbsp; ГОУ ДПО «Ленинградский областной институт развития образования»&nbsp; г. Санкт-Петербург 05.10.2013, 72 часа</p>
				<p>
					4. Удостоверение о&nbsp;&nbsp; повышении квалификации № 000989/13 по ДПО «Психолого-педагогические технологии реализации ФГОС» (теория)&nbsp; АНО ДПО «Учебный центр «Методист» г. Москва 30.03.2013 г. 72 часа</p>
				<p>
					5. Удостоверение о&nbsp;&nbsp; повышении квалификации № 001125/13 по ДПО «Психолого-педагогические технологии реализации ФГОС» (практика)&nbsp; АНО ДПО «Учебный центр «Методист» г. Москва 10.04.2013 г. 72 час.</p>
				<p>
					6.Удостоверение о повышении квалификации № 180000155045, рег № 1474/61 по ДПП «Организационно-управленческие механизмы перехода к новому «Порядку организации и осуществления образовательной деятельности по образовательным программам НОО, ОО, СОО в образовательных организациях, реализующих образовательные программы среднего общего образования» ГБОУ ВПО города Москвы «Московский городской педагогический университет», 2014г., 36ч.;</p>
				<p>
					7. Удостоверение о&nbsp;&nbsp; повышении квалификации № у-2531/вн&nbsp; по ДПО « Введение учебного предмета «Астрономия» в условиях изменений в федеральном компоненте государственного образовательного стандарта» ФГАОУ ДПО «Академия повышения квалификации и профессиональной переподготовки работников образования»&nbsp; 13.09.2017г., г. Москва&nbsp; 72 час.</p>
				<p>
					8.Диплом о профессиональной переподготовке «Менеджмент в образовании» 16 66 00000099, рег.№ 122 от 31.08.2017г., 306ч.;</p>
				<p>
					9.Удостоверение о повышении квалификации, рег. № 033631 по ДПП «Организация образовательного процесса на основе межпредметных технологий», 18ч.,Тамбовский областной ГОАУ ДПО «ИПКРО», 2018г;</p>
				<p>
					10.Удостоверение о повышении квалификации № 134118191814, рег. № 8103 по ДПП «Модернизация технологий и содержания обучения на основе реализации метапредметного подхода по русскому языку и литературе в соответствии с ФГОС», 36ч. ГБУ ДПО Республики Мордовия «Центр непрерывного повышения профессионального мастерства педагогических работников – «Педагог 13.ру, г. Саранск, 2019г.;</p>
				<p>
					11.Удостоверение о повышении квалификации № 134118202804, рег.№ 2804 по ДПП «Эффективные модели преподавания русского языка (как родного, как неродного)», 18ч., . ГБУ ДПО Республики Мордовия «Центр непрерывного повышения профессионального мастерства педагогических работников – «Педагог 13.ру, г. Саранск, 2020г.;</p>
				<p>
					12. Удостоверение о повышении квалификации № 00000000497860 рег.№159287860 по ДПО «Правила гигиены. Особенности работы образовательной организации в условиях сложной санитарно-эпидемиологической обстановки. Использование новейших технологий в организации образовательного процесса» НПО ПрофЭкспортСофт 30.09.2020г. Брянск 72 часа</p></td>
    </tr>
  <tr>
      <th scope="row">5</th>
      <td><p>
					Подгорбунская Елена Викторовна</p>
      </td>
      <td><p>
					Преподаватель/ Химик. Преподаватель (Диплом ИВ № 492024 от 17.06.1983г. Уральский государственный университет им. А.М. Горького)</p></td>
      <td><p>
					Соответствие занимаемой должности, протокол № 7-1 от 20.08.2014г.</p>
				<p>
					Соответствие занимаемой должности, протокол № 8-1 от 20.08.2019г.</p></td>
      <td><p>
					1 Удостоверение о&nbsp;&nbsp; повышении квалификации № 000739/13 по ДПО « Инновационные технологии управления воспитательной деятельностью образовательного учреждения как средство реализации ФГОС» (теория)&nbsp; АНО ДПО «Учебный центр «Методист» г. Москва 15.02.2013 г. 72 часа</p>
				<p>
					2. Удостоверение о&nbsp;&nbsp; повышении квалификации № 000855/13 по ДПО «Инновационные технологии управления воспитательной деятельностью образовательного учреждения как средство реализации ФГОС» (практика)&nbsp; АНО ДПО «Учебный центр «Методист» г. Москва 27.02.2013 г. 72 час.</p>
				<p>
					3.Удостоверение о повышении квалификации № 180000155049, рег № 1474/65 по ДПП «Организационно-управленческие механизмы перехода к новому «Порядку организации и осуществления образовательной деятельности по образовательным программам НОО, ОО, СОО в образовательных организациях, реализующих образовательные программы среднего общего образования» ГБОУ ВПО города Москвы «Московский городской педагогический университет», 2014г., 36ч.;</p>
				<p>
					4.Удостоверение о повышении квалификации рег. № ПК-Н0416-042 по ДПП «Опыт реализации ФГОС НОО: результаты, новые требования и возможности» в Автономной некоммерческой организации ДПО «Просвещение-Столица», Москва, 2016г., 72ч.;</p>
				<p>
					5.Удостоверение о повышении квалификации рег. № 033632 033631 по ДПП «Организация образовательного процесса на основе межпредметных технологий», 18ч.,Тамбовский областной ГОАУ ДПО «ИПКРО», 2018г;</p>
				<p>
					6.Удостоверение о повышении квалификации № 134118191817, рег. № 8106 по ДПП «Модернизация технологий и содержания обучения на основе реализации метапредметного подхода по русскому языку и литературе в соответствии с ФГОС», 36ч. ГБУ ДПО Республики Мордовия «Центр непрерывного повышения профессионального мастерства педагогических работников – «Педагог 13.ру, г. Саранск, 2019г.;</p>
				<p>
					7.Удостоверение о повышении квалификации № 134118202807, рег.№ 2807 по ДПП «Эффективные модели преподавания русского языка (как родного, как неродного)», 18ч., . ГБУ ДПО Республики Мордовия «Центр непрерывного повышения профессионального мастерства педагогических работников – «Педагог 13.ру, г. Саранск, 2020г.;</p></td>
    </tr>
  <tr>
      <th scope="row">6</th>
      <td>Семенцов Иван Викторович</td>
      <td><p>
					Березовский профессионально-педагогический колледж (филиал)</p>
				<p>
					УГППУ (Диплом АК №0359020) Регистрационный №6120 от 20.06.2001г.</p></td>
      <td><p>
					Соответствие занимаемой должности,</p>
				<p>
					Протокол № 04-1 от 28.03.2015г</p>
				<p>
					Соответствие занимаемой должности,</p>
				<p>
					Протокол № 8А от 18.07.2019г</p></td>
      <td><p>
					Удостоверение о повышении квалификации № 166600000003, рег № 3 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2014г. 72 ч.</p>
				<p>
					Удостоверение о повышении квалификации № 166600008002, рег № 1535 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2020г. 24 ч.</p></td>
    </tr>
  <tr>
      <th scope="row">7</th>
      <td>Мугаллимов Борис Ильясович</td>
      <td><p>
					Техник-строитель</p>
				<p>
					(Диплом ЛТ № 362449 от 02.03.1988г.Свердловский строительный техникум Минуралсибстрой СССР)</p></td>
      <td><p>
					Соответствие занимаемой должности,</p>
				<p>
					Протокол № 3 от 28.07.2014г Соответствие занимаемой должности,</p>
				<p>
					Протокол № 9 от 19.03.2020г</p></td>
      <td><p>
					Удостоверение о повышении квалификации № 166600000010, рег № 10 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2014г. 72 ч.</p>
				<p>
					Удостоверение о повышении квалификации № 166600008001, рег № 1534 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2020г. 24 ч.</p></td>
    </tr>
  <tr>
      <th scope="row">8</th>
      <td>Петруханов Сергей Анатольевич</td>
      <td><p>
					Инженер педагог</p>
				<p>
					(Диплом БВС № 0621875 от 25.05.2000г. Уральский государственный профессионально-педагогический университет)</p></td>
      <td><p>
					Соответствие занимаемой должности,</p>
				<p>
					Протокол № 04 от 27.03.2015г Соответствие занимаемой должности,</p>
				<p>
					Протокол № 06 от 15.07.2019г</p></td>
      <td><p>
					Удостоверение о повышении квалификации № 166600000004, рег № 4 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2014г. 72 ч.</p>
				<p>
					Удостоверение о повышении квалификации № 166600008006, рег № 1534 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2020г. 24 ч.</p></td>
    </tr>
  <tr>
      <th scope="row">9</th>
      <td><p>
					Львова Людмила Владимировна</p></td>
      <td><p>
					Инженер-строитель</p>
				<p>
					(Диплом Г-I № 508160 от 21.06.1977г. Уральский орден Трудового Красного Знамени политехнический институт им С.М. Кирова)</p></td>
      <td><p>
					Соответствие занимаемой должности,</p>
				<p>
					Протокол № 2 от 20.12.2013г</p>
				<p>
					Соответствие занимаемой должности,</p>
				<p>
					Протокол № 5 от 20.06.2018г</p></td>
      <td><p>
					Удостоверение о повышении квалификации № 006, рег № 6 по ДПП «Применение современных педагогических технологий», 2013г. 72 ч.</p>
				<p>
					Удостоверение о повышении квалификации № 166600008005, рег № 1538 по ДПП «Организационно-управленческая деятельность преподавателей и менеджеров образовательных организаций дополнительного профессионального образования», 2020г. 24 ч.</p></td>
    </tr>
  </tbody>
</table>
    </div>
{% endblock %}