{% extends "base.html" %}
{% block navig_btn_h%}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <a>Медиа</a> / <span>Видеотека</span></div>
    <div class="video_list">
    <h1 class="title"><span>Видеотека</span></h1>
      <div class="razdels key_categ0">
                    <div class="row">
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/zaschita-ot-grippa-koronavirusa-i-orvi-eto-profilaktika/">
                <img src="https://i.ytimg.com/vi/DOYtC44Q5j8/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/DOYtC44Q5j8/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/zaschita-ot-grippa-koronavirusa-i-orvi-eto-profilaktika/">Лучшая защита от гриппа, коронавируса и ОРВИ - это профилактика</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/mery-profilaktiki-virusnyh-infektsiy/">
                <img src="https://i.ytimg.com/vi/3W2CkqUZEIY/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/3W2CkqUZEIY/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/mery-profilaktiki-virusnyh-infektsiy/">Меры профилактики вирусных инфекций</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/koronavirus-2019-ncov/">
                <img src="https://i.ytimg.com/vi/iMlCBiv1OlA/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/iMlCBiv1OlA/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/koronavirus-2019-ncov/">Коронавирус 2019 nCoV</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/ispolzuyte-masku-pravilno/">
                <img src="https://i.ytimg.com/vi/UICn9Q3gyXc/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/UICn9Q3gyXc/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/ispolzuyte-masku-pravilno/">Используйте маску правильно!</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/chudesa-vy-mojete-tvorit-sami/">
                <img src="https://i.ytimg.com/vi/Owz0CwxjbSc/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/Owz0CwxjbSc/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/chudesa-vy-mojete-tvorit-sami/">Чудеса вы можете творить сами</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/vaktsinatsiya-protiv-grippa/">
                <img src="https://i.ytimg.com/vi/sDAFvzGMkQs/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/sDAFvzGMkQs/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/vaktsinatsiya-protiv-grippa/">Вакцинация против гриппа: за или против?</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/kak-peredaetsya-gripp/">
                <img src="https://i.ytimg.com/vi/nuAj3vdnWMk/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/nuAj3vdnWMk/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/kak-peredaetsya-gripp/">Как передается ГРИПП</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/spasibo-uchitel/">
                <img src="https://i.ytimg.com/vi/xDaq03ZTwmg/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/xDaq03ZTwmg/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/spasibo-uchitel/">Спасибо, учитель!</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/rossiya-velikaya-istoriya/">
                <img src="https://i.ytimg.com/vi/c0hb-Zdeulk/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/c0hb-Zdeulk/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/rossiya-velikaya-istoriya/">Россия - это великая история</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/shkola-jizni/">
                <img src="https://i.ytimg.com/vi/OeXNRwvcI38/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/OeXNRwvcI38/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/shkola-jizni/">Школа жизни</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/vse-chto-vajno-ryadom-s-toboy/">
                <img src="https://i.ytimg.com/vi/wEtW0F7QV0c/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/wEtW0F7QV0c/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/vse-chto-vajno-ryadom-s-toboy/">Все, что важно - рядом с тобой!</a></p>
          </div>
          </div>
    <div class="col-sm-6 col-md-4">
          <div class="mb15">
              <a class="wrapping_img pos_rel" href="/media/videoteka/jit/">
                <img src="https://i.ytimg.com/vi/X__GJAvZ4_M/hqdefault.jpg" class=""><i class="icon-play"></i>
                  <!--span class="img_cover " style=" background-image:url('https://i.ytimg.com/vi/X__GJAvZ4_M/hqdefault.jpg') "></span-->
              </a>
              <p class="mt10"><a class="wrapping_img" href="/media/videoteka/jit/">#ЖИТЬ</a></p>
          </div>
          </div>
        </div>
        </div>

    </div>

    </div>
{% endblock %}