{% extends "base.html" %}
{% block navig_btn_b %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Охрана труда</span></div>
        <h1 class="title"><span>Охрана труда</span></h1>
                <div>
	<strong>НОЧУ ДПО "УЦПК" проводит обучение по дополнительным профессиональным программам повышения квалификации:&nbsp;&nbsp;</strong></div>
<div>
	&nbsp;</div>
<ul style="margin-left: 40px;">
	<li>
		«Охрана труда для руководителей и специалистов организаций»</li>
</ul>

<div>
	&nbsp;</div>
<h3>
	1.<span style="white-space:pre"> </span>«Охрана труда для руководителей и специалистов организаций»:</h3>
<div>
	&nbsp;</div>
<div style="margin-left: 40px;">
	Программа разработана на основании примерной программы обучения по охране труда работников организаций (утв. Минтрудом РФ 17 мая 2004 г.)&nbsp; в целях реализации требований Трудового кодекса Российской Федерации, Федерального закона от 24 июля 1998 г. N 125-ФЗ "Об обязательном социальном страховании от несчастных случаев на производстве и профессиональных заболеваний" и Порядка обучения по охране труда и проверки знаний требований охраны труда работников организаций, утвержденного постановлением Министерства труда и социального развития Российской Федерации и Министерства образования Российской Федерации от 13 января 2003 года N 1/29.&nbsp;</div>
<div style="margin-left: 40px;">
	&nbsp;</div>
<h4>
	Категории слушателей:&nbsp;</h4>
<ol>
	<li>
		руководители организаций (в том числе бюджетных), заместители руководителей организаций, в том числе курирующие вопросы охраны труда, заместители главных инженеров по охране труда, работодатели - физические лица, иные лица, занимающиеся предпринимательской деятельностью;&nbsp;</li>
	<li>
		руководители, специалисты, инженерно-технические работники, осуществляющие организацию, руководство и проведение работ на рабочих местах и в производственных подразделениях, а также контроль и технический надзор за проведением работ;&nbsp;</li>
	<li>
		специалисты служб охраны труда, работники, на которых работодателем возложены обязанности организации работы по охране труда;&nbsp;</li>
	<li>
		специалисты органов исполнительной власти субъектов Российской Федерации, а также специалисты органов местного самоуправления в области охраны труда;&nbsp;</li>
	<li>
		педагогические работники образовательных учреждений начального профессионального, среднего профессионального, высшего профессионального, послевузовского профессионального образования и дополнительного профессионального образования - преподаватели дисциплин "охрана труда", "безопасность жизнедеятельности", "безопасность технологических процессов и производств", а также организаторы и руководители производственной практики обучающихся.</li>
</ol>
<div>
	&nbsp;</div>
<h4>
	Цель программы:</h4>
<div>
	приобретение слушателями необходимых знаний по охране труда для применения их в практической деятельности в сфере безопасности и охраны труда с целью обеспечения профилактических мер по сокращению производственного травматизма и профессиональных заболеваний.</div>
<div>
	&nbsp;</div>
<div>
	<strong>Срок обучения</strong>: 40 часов</div>
<div>
	<strong>Форма обучения</strong>: очно-заочная</div>
<div>
	<strong>Форма итоговой аттестации</strong>: зачет.&nbsp;</div>
<div>
	Лицам, успешно освоившим программу и прошедшим итоговую аттестацию, выдаются удостоверения о повышении квалификации установленного образца.&nbsp; &nbsp;&nbsp;</div>
<h4>
	Рассматриваемые вопросы:</h4>
<p>
	&nbsp;</p>
<div style="margin-left: 40px;">
	<strong>1<span style="white-space:pre"> </span>Основы охраны труда</strong></div>
<div style="margin-left: 40px;">
	1.1<span style="white-space:pre"> </span>Трудовая деятельность человека.</div>
<div style="margin-left: 40px;">
	1.2<span style="white-space:pre"> </span>Основные принципы обеспечения безопасности труда.</div>
<div style="margin-left: 40px;">
	1.3<span style="white-space:pre"> </span>Основные принципы обеспечения охраны труда.</div>
<div style="margin-left: 40px;">
	1.4<span style="white-space:pre"> </span>Основные положения трудового права.</div>
<div style="margin-left: 40px;">
	1.5<span style="white-space:pre"> </span>Правовые основы охраны труда.&nbsp;</div>
<div style="margin-left: 40px;">
	1.6<span style="white-space:pre"> </span>Государственное регулирование в сфере охраны труда.&nbsp;</div>
<div style="margin-left: 40px;">
	1.7<span style="white-space:pre"> </span>Государственные нормативные требования по охране труда.</div>
<div style="margin-left: 40px;">
	1.8<span style="white-space:pre"> </span>Обязанности и ответственность работников по соблюдению требований охраны труда и трудового распорядка.&nbsp;</div>
<div style="margin-left: 40px;">
	1.9<span style="white-space:pre"> </span>Обязанности и ответственность должностных лиц по соблюдению требований законодательства о труде и об охране труда.&nbsp;</div>
<div style="margin-left: 40px;">
	&nbsp;</div>
<div style="margin-left: 40px;">
	<strong>2<span style="white-space:pre"> </span>Основы управления охраной труда в организации&nbsp;</strong></div>
<div style="margin-left: 40px;">
	2.1<span style="white-space:pre"> </span>Обязанности работодателя по обеспечению безопасных условий и охраны труда&nbsp;</div>
<div style="margin-left: 40px;">
	2.2<span style="white-space:pre"> </span>Управление внутренней мотивацией работников на безопасный труд и соблюдение требований охраны труда.</div>
<div style="margin-left: 40px;">
	2.3<span style="white-space:pre"> </span>Организация системы управления охраной труда.</div>
<div style="margin-left: 40px;">
	2.4<span style="white-space:pre"> </span>Социальное партнерство работодателя и работников в сфере охраны труда. Организация общественного контроля.</div>
<div style="margin-left: 40px;">
	2.5<span style="white-space:pre"> </span>Специальная оценка условий труда.</div>
<div style="margin-left: 40px;">
	2.6<span style="white-space:pre"> </span>Разработка инструкций по охране труда.&nbsp;</div>
<div style="margin-left: 40px;">
	2.7<span style="white-space:pre"> </span>Организация обучения по охране труда и проверки знаний требований охраны труда работников организаций.</div>
<div style="margin-left: 40px;">
	2.8<span style="white-space:pre"> </span>Предоставление компенсаций за условия труда; обеспечение работников средствами индивидуальной защиты.&nbsp;</div>
<div style="margin-left: 40px;">
	2.9<span style="white-space:pre"> </span>Основы предупреждения профессиональной заболеваемости.&nbsp;</div>
<div style="margin-left: 40px;">
	2.10<span style="white-space:pre"> </span>Документация и отчетность по охране труда.</div>
<div style="margin-left: 40px;">
	&nbsp;</div>
<div style="margin-left: 40px;">
	<strong>3<span style="white-space:pre"> </span>Специальные вопросы обеспечения требований охраны труда и безопасности производственной деятельности&nbsp;</strong></div>
<div style="margin-left: 40px;">
	3.1<span style="white-space:pre"> </span>Основы предупреждения производственного травматизма.</div>
<div style="margin-left: 40px;">
	3.2<span style="white-space:pre"> </span>Техническое обеспечение безопасности зданий и сооружений, оборудования и инструмента, технологических процессов.&nbsp;</div>
<div style="margin-left: 40px;">
	3.3<span style="white-space:pre"> </span>Коллективные средства защиты: вентиляция, освещение, защита от шума и вибрации.</div>
<div style="margin-left: 40px;">
	3.4<span style="white-space:pre"> </span>Опасные производственные объекты и обеспечение промышленной безопасности.</div>
<div style="margin-left: 40px;">
	3.5<span style="white-space:pre"> </span>Организация безопасного производства работ с повышенной опасностью.</div>
<div style="margin-left: 40px;">
	3.6<span style="white-space:pre"> </span>Обеспечение электробезопасности.</div>
<div style="margin-left: 40px;">
	3.7<span style="white-space:pre"> </span>Обеспечение пожарной безопасности.</div>
<div style="margin-left: 40px;">
	3.8<span style="white-space:pre"> </span>Обеспечение безопасности работников в аварийных ситуациях.</div>
<div style="margin-left: 40px;">
	&nbsp;</div>
<div style="margin-left: 40px;">
	<strong>4<span style="white-space:pre"> </span>Социальная защита пострадавших на производстве.</strong></div>
<div style="margin-left: 40px;">
	4.1<span style="white-space:pre"> </span>Общие правовые принципы возмещения причиненного вреда.</div>
<div style="margin-left: 40px;">
	4.2<span style="white-space:pre"> </span>Обязательное социальное страхование от несчастных случаев на производстве и профзаболеваний.&nbsp;</div>
<div style="margin-left: 40px;">
	4.3<span style="white-space:pre"> </span>Порядок расследования и учета несчастных случаев на производстве.</div>
<div style="margin-left: 40px;">
	4.4<span style="white-space:pre"> </span>Порядок расследования и учета профессиональных заболеваний.&nbsp;</div>
<div style="margin-left: 40px;">
	4.5<span style="white-space:pre"> </span>Оказание первой помощи пострадавшим на производстве.</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}