{% extends "base.html" %}
{% block navig_btn_b %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="http://127.0.0.1:8000/">Главная</a> / <span>Профессии</span></div>
        <h1 class="title"><span>Профессии</span></h1>
                <h4>
	<strong>НОЧУ ДПО "УЦПК" проводит обучение по программе </strong><strong>профессионального</strong><strong> обучения:&nbsp; </strong></h4>
<ul style="margin-left: 40px;">
	<li>
		«Стропальщик»</li>
</ul>
<p>
	<strong>Цель:</strong> профессиональная подготовка рабочих по профессии&nbsp; "Стропальщик"<br>
	<b>Категория слушателей: </b>лица не моложе 18 лет.</p>
<p>
	В результате освоения образовательной программы профессиональной переподготовки <b>слушатель должен знать:</b></p>
<ul>
	<li>
		строительные нормы и правила производства строительных работ· грузоподъёмные машины и механизмы</li>
	<li>
		назначение и правила применения стропов из цепей, канатов и др.</li>
	<li>
		предельные нормы нагрузки на кран и стропы</li>
	<li>
		требуемую длину и диаметр стропов для перемещения грузов</li>
	<li>
		допускаемые нагрузки на стропы и канаты</li>
	<li>
		правила и способы сращивания и связывания стропов</li>
	<li>
		сроки эксплуатации стропов, их грузоподъёмность, методы и сроки испытания</li>
	<li>
		правила чтения чертежей и схем строповки грузов</li>
	<li>
		визуальное определение массы перемещаемого груза</li>
	<li>
		наиболее удобные места строповки грузов</li>
	<li>
		условную сигнализацию для крановщиков (машинистов)</li>
	<li>
		правила эксплуатации оборудования, приспособлений и инструментов и ухода за ними</li>
</ul>
<p>
	&nbsp;</p>
<p>
	В результате освоения образовательной программы профессиональной переподготовки <b>слушатель должен уметь:</b></p>
<ul>
	<li>
		выполнять обвязку и зацепку простых изделий, деталей, лесоматериалов и других аналогичных</li>
	<li>
		грозой для их подъема, перемещения, и укладки выполнять отцепку стропов на месте установки или укладки груза</li>
	<li>
		выбирать необходимые стропы в соответствии с массой и размером перемещаемого груза</li>
	<li>
		определять пригодность стропов</li>
	<li>
		подавать сигналы крановщику и наблюдать за грузом при подъеме, перемещении и укладке</li>
	<li>
		своевременно и рационально подготавливать рабочее место к работе и производить его уборку</li>
	<li>
		подготавливать к работе оборудование, инструменты, приспособления и содержать их в надлежащем состоянии, принимать и сдавать смену соблюдать правила безопасности труда и внутреннего трудового распорядка</li>
	<li>
		пользоваться при необходимости средствами предупреждения и тушения пожаров</li>
	<li>
		оказывать первую помощь пострадавшим на производстве</li>
</ul>
<p>
	<br>
	&nbsp;</p>



    <div class="visits mt15">
	</div>
    </div>
{% endblock %}