{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Вакантные места для приема (перевода) обучающихся</span></div>
        <h1 class="title"><span>Вакантные места для приема (перевода) обучающихся</span></h1>

<div>
	Прием слушателей в НОЧУ ДПО "УЦПК" на обучение осуществляется в соответствии <a href="/media/Правила_приема_обучающихся_1.pdf">Правилами&nbsp; приема обучающихся.</a></div>
<div>
	&nbsp;</div>
<div>
	Перевод осуществляется на основании <a href="/media/полож_о_порядке_и_основаниях_перевода_2.pdf">Положения «О порядке и основаниях перевода, отчисления и восстановления обучающихся».</a></div>
<div>
	Комплектование групп осуществляется постоянно по всем реализуемым программам. Наполняемость групп определяется вместимостью аудитории, расписанием занятий.&nbsp;&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	В НОЧУ ДПО "УЦПК" обучение осуществляется&nbsp; за счет&nbsp; средств физических и (или) юридических лиц.<br>
	Бюджетное финансирование не производится.&nbsp;</div>
<div>
	Мест для приема и перевода,&nbsp;финансируемых за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов РФ и местных бюджетов, не имеется.</div>
<div>
	<p>
		<strong>Вакантные места в группы марта 2021 года.</strong></p>
	<p>
		&nbsp;</p>
	<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Образовательная программа</th>
      <th scope="col">Период обучения</th>
      <th scope="col">
        Количество
        вакантных мест</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Охрана труда для руководителей и специалистов организаций (40 час.)</th>
      <td>22-26.03.2021</td>
      <td>3</td>
    </tr>
    <tr>
      <th scope="row">Инструктор по обучению приемам и методам оказания первой помощи пострадавшим (72 час.)</th>
      <td>10-22.03.2021</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
	<p>
		<br>
		&nbsp;</p>
</div>
<div>
	&nbsp;</div>



    <div class="visits mt15">
	</div>
    </div>
{% endblock %}