{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Материально-техническое обеспечение и оснащенность образовательного процесса</span></div>
        <h1 class="title"><span>Материально-техническое обеспечение и оснащенность образовательного процесса</span></h1>

	<h1 class="title">
		&nbsp;</h1>
	<p>
		Негосударственное образовательное частное учреждение дополнительного профессионального образования "Уральский центр подготовки кадров"&nbsp; осуществляет образовательную деятельность в арендованных помещениях по адресам:</p>
	<div>
		&nbsp;</div>
	<div>
		<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Наименование объекта</th>
      <th scope="col">Адрес объекта</th>
      <th scope="col">Назначение</th>
      <th scope="col">Площадь в кв. м.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1.</th>
      <td>Аудитория  №1</td>
      <td>620062, Свердловская область, г. Екатеринбург,
            ул. Чебышева, д. 6, офис 319а</td>
      <td>Учебная аудитория</td>
      <td>29,1</td>
    </tr>
  </tbody>
</table>
	</div>
	<div>
		&nbsp;</div>
	<div>
		<table border="0" cellpadding="1" cellspacing="5" style="width: 100%">
			<tbody>
				<tr>
					<td style="text-align: center; vertical-align: middle;">
						&nbsp;</td>
					<td style="text-align: center; vertical-align: middle;">
						<img alt="" src="/media/images/класс_319.jfif" style="width: 500px; height: 375px;">
                        <br>
                        <img alt="" src="/media/images/класс_проектор_1.jfif" style="width: 500px; height: 376px;"></td>
					<td style="text-align: center; vertical-align: middle;">
						&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p>
		&nbsp;</p>
	<h4>
		На данные помещения имеются Заключения:</h4>
	<div>
		&nbsp;</div>
	<div>
		Главного управления МЧС России по Свердловской области Управления надзорной деятельности и профилактической работы:</div>
	<ul>
		<li style="margin-left: 40px;">
			<p>
				Заключение № 20/670 от 31.05.2012г. («001054») о соответствии объекта защиты требованиям пожарной безопасности нежилого помещения,</p>
		</li>
	</ul>
	<p>
		&nbsp;</p>
	<div>
		Управления Федеральной службы по защите прав потребителей и благополучия человека по Свердловской области:</div>
	<ul>
		<li style="margin-left: 40px;">
			<p>
				санитарно-эпидемиологическое заключение № 66.01.19.000.М.001108.05.12 от 12.05.2012.</p>
		</li>
	</ul>
	<p style="margin-left: 40px;">
		&nbsp;</p>
	<h4>
		<span style="color:#b22222;">Информация о наличии оборудованных учебных кабинетов, объектов для проведения практических занятий, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья:</span></h4>
	<div>
		<div>
			НОЧУ ДПО «УЦПК» располагает одной учебной аудиторией. Количество учебных мест соответствует нормативам, установленных в требованиях СанПиН и СП.</div>
		<div>
			В учебных аудиториях имеется возможность подключения к сети Wi-Fi. Полная информация об&nbsp; оснащении аудиторий содержится в справке о материально-техническом обеспечении образовательного процесса.&nbsp;<a href="//media/обеспечение_кабинетами1.pdf">Скачать документ.</a></div>
		<div>
			<div>
				&nbsp;</div>
		</div>
	</div>
	<div>
		<h4>
			<span style="color:#b22222;">Информация о наличии библиотек, средств обучения, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья:</span></h4>
		<div>
			в качестве&nbsp; средств обучения используются&nbsp; учебные материалы, размещенные в электронной информационно-образовательной среде,&nbsp; в состав которой входит:</div>
		<ul>
			<li>
				обучающе-контролирующая система Учи.Про — это ИТ-компания, работающая в области комплексных образовательных технологий;</li>
			<li>
				методические материалы по программам обучения, размещенные: https://uchi.pro/, доступ к которым временно предоставляется на период обучения.&nbsp;&nbsp;</li>
		</ul>
		<div>
			При проведении занятий используется специально подготовленный раздаточный материал, в том числе в виде рабочих тетрадей, методических материалов, необходимых для выполнения учебных заданий. Раздаточный материал передается обучающимся в постоянное пользование.</div>
		<div>
			<strong>Сведения об обеспечение образовательного процесса учебной и учебно-методической литературой,</strong>&nbsp;информационными ресурсами (печатными/электронными.&nbsp;<a href="/media/мто2.docx">Скачать.</a></div>
	</div>
	<div>
		&nbsp;</div>
	<div>
		<h4>
			<span style="color:#b22222;">Информация об обеспечении доступа в здания НОЧУ ДПО «УЦПК» инвалидов и лиц с ограниченными возможностями здоровья.</span></h4>
		<div>
			В здание, в котором расположены учебные аудитории НОЧУ ДПО «УЦПК», обеспечен беспрепятственный доступ:&nbsp; входная группа на уровне тротуара, без ступеней, имеется возможность открытия второй створки дверей; имеется лифт; от входа и до лифта отсутствуют ступени.</div>
	</div>
	<ul>
		<li>
			Приложение №1 к Положению «Об организации образовательного процесса для инвалидов и лиц с ограниченными возможностями здоровья в НОЧУ ДПО «УЦПК».&nbsp; <a href="/media//media/сведения_о_спец_услов_ОВЗ3.pdf">Скачать</a></li>
	</ul>
	<h3>
		&nbsp;</h3>
	<h4>
		<span style="color:#b22222;">Информация об&nbsp; условиях охраны здоровья обучающихся, в том числе инвалидов и лиц с ограниченными возможностями здоровья.</span></h4>
	<div>
		С учетом кратковременности пребывания обучающихся в помещениях центра в условиях организации оказывается первая помощь до оказания медицинской помощи. Для этого:</div>
	<div>
		- имеется аптечка со&nbsp; средствами, необходимыми для оказания первой помощи;</div>
	<div>
		- все педагогические работники обучены приемам оказания первой помощи;</div>
	<div>
		- одновременно с оказанием первой помощи работник Организации осуществляется вызов службы скорой медицинской помощи, с участием которой обучающийся доставляется в медицинское учреждение</div>
	<div>
		<ul>
			<li>
				Положение об охране здоровья.&nbsp;<a href="/media/Охрана_здоровья_обуч4.pdf">Скачать</a></li>
		</ul>
	</div>
	<h4>
		&nbsp;</h4>
	<h4>
		<span style="color:#b22222;">Информация об организации питания обучающихся, в том числе инвалидов и лиц с ограниченными возможностями здоровья.</span></h4>
	<div>
		С целью обеспечения возможности питания обучающихся в Организации предусматривается: наличие питьевой воды; уголок питания, имеющий источник горячей воды (кулер, термопот и т.п.), заключен договор на оказание услуг на поставку питьевой воды; на информационном стенде выложена информация об организациях питания, расположенных в здании по адресу: ул.Чебышева, 6, и в непосредственной близости от него.&nbsp;</div>
	<div>
		Расписание занятий предусматривает перерыв достаточной продолжительности для отдыха и питания обучающихся.&nbsp;</div>
	<div>
		<ul>
			<li>
				Положение о питании.&nbsp;<a href="/media/полож_об_организ_питания5.pdf">Скачать.</a></li>
		</ul>
	</div>
	<h4>
		&nbsp;</h4>
	<h4>
		<span style="color:#b22222;">Информация об обеспечении доступа к информационным системам и информационно-коммуникационным сетям, приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья:</span></h4>
	<div>
		Доступ к информационным системам и информационно-коммуникационным сетям, в том числе приспособленным для использования инвалидами и лицами с ограниченными возможностями здоровья , предоставляется обучающимся на время прохождения обучения.</div>
	<div>
		&nbsp;Составляющие информационного пространства центра: официальный сайт Организации, локальная сеть с выходом в безлимитный Интернет, электронная почта, электронная информационно-образовательная среда, обеспечивающая возможность использования при обучении дистанционные образовательные технологии.</div>
	<div>
		&nbsp;</div>
	<div>
		<h4>
			<span style="color:#b22222;">Информация о доступе к электронным образовательным ресурсам для обучающихся, в том числе для инвалидов и лиц с ограниченными возможностями здоровья:</span></h4>
		<div>
			На период обучения обеспечивается временный доступ к учебным материалам, размещенным в электронной информационно-образовательной среде,&nbsp; в состав которой входит: обучающе-контролирующая система «Учи-Про", комплекс методических и учебных материалов, размещенных по адресу: https://uchi.pro/</div>
		<div>
			Для входа&nbsp; используются индивидуальные логин и пароль.</div>
		<div>
			<strong>Сведения об обеспечение образовательного процесса учебной и учебно-методической литературой,</strong>&nbsp;информационными ресурсами (печатными/электронными.&nbsp;<a href="/media/мто2.docx">Скачать.</a></div>
	</div>
	<div>
		&nbsp;</div>
	<div>
		<h4>
			<span style="color:#b22222;">Наличие специальных технических средств обучения коллективного и индивидуального пользования для инвалидов и лиц с ограниченными возможностями здоровья:</span></h4>
		<div>
			Во время проведения занятий в учебном классе, где обучаются инвалиды, лица с ограниченными возможностями здоровья, возможно применение звукоусиливающей аппаратуры, средств мультимедиа, иных средств для улучшения восприятия информации обучающимися с нарушениями здоровья.</div>
		<div>
			&nbsp;</div>
		<div>
			При проведении текущей, промежуточной, итоговой аттестации используются оценочные материалы в форме компьютерных тестов, в случае затруднения использования компьютерной техники могут быть использованы аналогичные материалы на бумажном носителе.</div>
		<div>
			Исходя из конкретной ситуации и индивидуальных потребностей обучающихся – инвалидов и лиц с ограниченными возможностями здоровья предусматривается возможность индивидуального сопровождения и консультирования по вопросам организации учебного процесса.</div>
		<div>
			&nbsp;</div>
	</div>
	<h4>
		<span style="color:#b22222;">Перечень электронных ресурсов, к которым обеспечивается доступ обучающихся:&nbsp;</span></h4>
	<ul>
		<li>
			Министерство образования и науки Российской Федерации (<a href="https://xn--80abucjiibhv9a.xn--p1ai/" target="_blank">минобрнауки.рф</a>).</li>
		<li>
			Министерство общего и профессионального образования Свердловской области -&nbsp;<a href="http://minobraz.egov66.ru/">http://minobraz.egov66.ru</a></li>
		<li>
			Федеральный портал "Российское образование" (<a href="http://edu.ru/" target="_blank">edu.ru</a>).</li>
		<li>
			Информационная система "Единое окно доступа к образовательным ресурсам"(<a href="http://window.edu.ru/" target="_blank">window.edu.ru</a>).</li>
		<li>
			Федеральная служба по надзору в сфере образования и науки -&nbsp;<a href="http://obrnadzor.gov.ru/" target="_blank">http://obrnadzor.gov.ru</a></li>
	</ul>
	<p style="margin-left: 40px;">
		&nbsp;</p>
</div>
<div>
	&nbsp;</div>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}