{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Международное сотрудничество</span></div>
        <h1 class="title"><span>Международное сотрудничество</span></h1>
                <div>
	<h5 class="mb10 mt15 documents_title">
		<b>Заключенные и планируемые к заключению договора с иностранными и (или) международными организациями по вопросам образования и науки</b></h5>
	<p>
		Не имеется</p>
</div>
<div>
	<h5 class="mb10 mt15 documents_title">
		<b>Международные аккредитации образовательных программ</b></h5>
	Не имеется</div>
<p>
	&nbsp;</p>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}