{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Образовательные стандарты</span></div>
        <h1 class="title"><span>Образовательные стандарты</span></h1>
                <p>
	1.&nbsp; Приказ Минобрнауки России от 21.03.2016 N 246 (ред. от 13.07.2017) "Об утверждении федерального государственного образовательного стандарта высшего образования по направлению подготовки <strong>20.03.01&nbsp; Техносферная безопасность</strong> (уровень бакалавриата)". <a href="/media/образовательные1.pdf">Скачать.</a></p>
<p>
	&nbsp;</p>
<p>
	2.&nbsp; Приказ Минобрнауки РФ от 14.12.2015 N 1461 "Об утверждении федерального государственного образовательного стандарта высшего образования по направлению подготовки <strong>38.03.03&nbsp; Управление персоналом</strong> (уровень бакалавриата)".&nbsp; <a href="/media/обарз2.pdf">Скачать.</a></p>
<p>
	&nbsp;</p>
<p>
	3.&nbsp; Приказ Минобрнауки России от 12.01.2016 N 8 "Об утверждении федерального государственного образовательного стандарта высшего образования по направлению подготовки <strong>39.03.02&nbsp; Социальная работа</strong> (уровень бакалавриата)". <a href="/media/образ3.pdf">Скачать.&nbsp;</a></p>
<p>
	&nbsp;</p>
<p>
	4.&nbsp;&nbsp;Приказ Минобрнауки России от 04.12.2015 N 1446 "Об утверждении федерального государственного образовательного стандарта высшего образования по направлению подготовки <strong>44.03.01 Педагогическое образование</strong> (уровень бакалавриата)". <a href="/media/образ4.pdf">Скачать.&nbsp;</a></p>
<p>
	&nbsp;</p>
<p>
	5.&nbsp;&nbsp;Приказ Минобрнауки России от 17.10.2013 N 1155 "Об утверждении федерального государственного образовательного стандарта дошкольного образования". <a href="/media/образ5.doc">Скачать.</a></p>
<p>
	&nbsp;</p>
<p>
	6.&nbsp;&nbsp;Приказ Минтруда России от 05.05.2018 N 298 н "Об утверждении профессионального стандарта "<strong>Педагог дополнительного образования</strong> детей и взрослых)". <a href="/media/образ6.pdf">Скачать.</a></p>
<p>
	&nbsp;</p>
<p>
	7.&nbsp; &nbsp;Приказ Минтруда России от 08.09.2015 N 608 н "Об утверждении профессионального стандарта "<strong>Педагог профессионального обучения</strong>, профессионального образования и дополнительного профессионального образования»)"&nbsp;<a href="/media/образ7.pdf"> &nbsp;Скачать.</a></p>
<p>
	&nbsp;</p>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}