{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Основные сведения</span></div>
                <div style="font-size:24px;">
	Основные сведения об образовательной организации</div>
<div>
	&nbsp;</div>
<div itemprop="Name">
	<div>
		<strong>Полное наименование:</strong> Негосударственное образовательное частное учреждение дополнительного профессионального образования "Уральский центр подготовки кадров"</div>
	<div>
		<strong>Сокращенное наименование:</strong> НОЧУ ДПО «УЦПК»</div>
</div>
<div>
	&nbsp;</div>
<div itemprop="RegDate">
	<strong>Дата создания образовательной организации:</strong> 30 марта 2012 года</div>
<div>
	&nbsp;</div>
<div itemprop="Address">
	<strong>Место нахождения образовательной организации:</strong><br>
	<p>
		620062, УрФО, Свердловская область, г. Екатеринбург, ул.Чебышева, д. 6, офис 319<br>
		Фактический адрес&nbsp;совпадает с юридическим.</p>

</div>

<div itemprop="WorkTime">
	<div>
		<strong>Режим и график работы образовательной организации:</strong></div>
	<div>
		<strong>График работы:</strong> понедельник-пятница<br>
		<p>
			<strong>Выходные дни</strong>: суббота, воскресенье</p>
	</div>
	<div>
		<strong>Режим работы:</strong> с 9-00 до 18-00</div>
</div>
<div>
	&nbsp;</div>
<div itemprop="Telephone">
	<strong>Контактные телефоны: </strong>8 (343) 201-44-24 (20)</div>
<div>
	&nbsp;</div>
<div itemprop="E-mail">
	<strong>Адрес электронной почты образовательной организации:</strong><a href="mailto:ural-cpk@mail.ru"><strong> </strong>ural-cpk@mail.ru</a></div>
<div>
	&nbsp;</div>
<div>
	<strong>Сайт образовательной организации (и/или адреса страниц в информационно-телекоммуникационной сети «Интернет»):</strong> <span class="SUasct7 SUasctA_SUascBa SUascHv_SUascHJ SUasct7_SUasctN SUasct7_SUascyE SUasct7_SUascLi" style="max-width: 2150px; --left-column-width:232px; --right-column-width:248px; --sidebar-column-width:320px;"><a href="http://cpk-ural.ru" rel=" noopener noreferrer" target="_blank">http://cpk-ural.ru</a></span></div>
<div>
	&nbsp;</div>
<div>
	<strong>Места осуществления образовательной деятельности, в том числе не указанные в приложении к лицензии (реестре лицензий) на осуществление образовательной деятельности в соответствии с частью 4 статьи 91 Федерального закона от 29 декабря 2012 г. № 273-ФЗ "Об образовании в Российской Федерации":</strong> 620062, УрФО, Свердловская область, г. Екатеринбург, ул.Чебышева, д. 6, офис 319</div>
<hr>
<div>
	&nbsp;</div>
<div itemprop="UchredLaw" itemscope="" itemtype="http://obrnadzor.gov.ru/microformats/UchredLaw">
	<div style="font-size:24px;">
		Информация об учредителе (учредителях) образовательной организации</div>
	<div>
		&nbsp;</div>
	<div>
		<strong>Наименование учредителя:</strong> Первухин Алексей Игоревич, Скворцов Сергей Семенович</div>
	<div>
		&nbsp;</div>
	<div>
		<strong>ФИО руководителя:</strong> Первухин Алексей Игоревич</div>
	<div>
		&nbsp;</div>
	<div>
		<strong>Юридический адрес учредителя:</strong> 620062, УрФО, Свердловская область, г. Екатеринбург, ул.Чебышева, д. 6, офис 319</div>
	<div>
		<strong>Контактные телефоны:</strong> 8 (343) 201-44-24</div>
	<div>
		<strong>Адрес сайта в сети "Интернет":</strong> <span class="SUasct7 SUasctA_SUascBa SUascHv_SUascHJ SUasct7_SUasctN SUasct7_SUascyE SUasct7_SUascLi" style="max-width: 2150px; --left-column-width:232px; --right-column-width:248px; --sidebar-column-width:320px;"><a href="http://cpk-ural.ru" rel=" noopener noreferrer" target="_blank">http://cpk-ural.ru</a></span></div>
	<div>
		<strong>Адрес электронной почты: <a href="mailto:ural-cpk@mail.ru">ucpk-dir@mail.ru</a></strong></div>
	<div>
		<strong>Режим работы, график работы:</strong>
		<div>
			<strong>График работы:</strong> понедельник-пятница<br>
			<p>
				<strong>Выходные дни</strong>: суббота, воскресенье</p>
		</div>
		<strong>Режим работы:</strong> с 9-00 до 18-00</div>
</div>
<p>
	&nbsp;</p>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}