{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span> Предписания органов, осуществляющих государственный контроль (надзор)</span></div>
        <h1 class="title"><span> Предписания органов, осуществляющих государственный контроль (надзор)</span></h1>
                <p>
	<em>Предписания органов, осуществляющих государственный контроль (надзор) в сфере образования, отсутствуют.</em></p>
<p style="text-align: justify;">
	&nbsp;</p>

    <div class="visits mt15">
	</div>
    </div>
{% endblock %}