{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Стипендии и меры поддержки обучающихся</span></div>
        <h1 class="title"><span>Стипендии и меры поддержки обучающихся</span></h1>
                <div>
	&nbsp;</div>
<div>
	<br>
	<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-success">
      <td>Общежития, интернаты, в том числе приспособленные для использования инвалидами и лицами с ОВЗ</td>
        <td>Отсутствуют</td>
    </tr>
    <tr>
      <td>Трудоустройство выпускников</td>
        <td>Не осуществляется</td>
    </tr>
    <tr class="table-success">
      <td>Стипендии</td>
        <td>Не предусмотрены</td>
    </tr>
    <tr>
      <td>Иные виды социальной поддержки</td>
        <td>Имеется возможность снижения стоимости обучения для представителей организаций-юридических лиц социальной направленности</td>
    </tr>
  </tbody>
</table>
</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>



    <div class="visits mt15">
	</div>
    </div>
{% endblock %}