{% extends "base.html" %}
{% block navig_btn_my %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Финансово-хозяйственная деятельность</span></div>
        <h1 class="title"><span>Финансово-хозяйственная деятельность</span></h1>
                <p>
	НОЧУ ДПО «УЦПК» является негосударственной образовательной организацией, предоставляющей услуги в сфере образования, осуществляющая в качестве основной цели деятельности образовательную деятельность&nbsp; по дополнительным образовательным программам. НОЧУ ДПО «УЦПК» в своей деятельности руководствуется ФЗ РФ «Об образовании в Российской Федерации» № 273-ФЗ от29.12.2012 г., Уставом, положениями, локальными нормативными актами и иными документами.</p>
<p>
	&nbsp;</p>
<p>
	НОЧУ ДПО «УЦПК» не является получателем субсидий на выполнение государственного (муниципального) задания, целевых субсидий, а так же бюджетных инвестиций. Все денежные средства, поступающие на расчетный счет, формируются за счет доходов от оказания услуг по видам деятельности организации (оказание платных образовательных услуг) и получение доходов (процентов по депозитам).</p>
<p>
	Согласно Устава организации,&nbsp; НОЧУ ДПО «УЦПК» не имеет целью извлечение прибыли при осуществлении деятельности, направленной на достижение уставных целей.</p>
<p>
	&nbsp;</p>
<p>
	План финансово-хозяйственной деятельности, требования к его составлению, утверждению и размещению в свободном доступе, согласно подпункту 6 пункта 3.3 статьи 32 Федерального закона от 12 января 1996 г. № 7-ФЗ «О некоммерческих организациях» в обязательном порядке реализуются только государственными (муниципальными) организациями.</p>
<p>
	Согласно п.3 ст.32 Федерального закона от 12.01.1996 № 7-ФЗ «О некоммерческих&nbsp;организациях» некоммерческие организации, не выполняющие функции иностранного агента, представляют в территориальные органы Минюста России ежегодно отчеты о деятельности по следующим формам:</p>
<p>
	- отчет о деятельности некоммерческой организации и о персональном составе ее руководящих органов.</p>
<p>
	- отчет о целях расходования некоммерческой организацией денежных средств и использования иного имущества, в том числе полученных от иностранных государств, их государственных органов, международных и иностранных организаций, иностранных граждан, лиц без гражданства либо уполномоченных ими лиц и (или) от российских юридических лиц, получающих денежные средства и иное имущество от указанных источников.</p>
<p>
	&nbsp;</p>
<p>
	Ежегодный отчет НОЧУ ДПО «УЦПК» размещен на сайте Минюста&nbsp; <a href="http://unro.minjust.ru/NKOReports.aspx?request_type=nko">http://unro.minjust.ru/NKOReports.aspx?request_type=nko</a></p>
<p>
	&nbsp;</p>
<p>
	Отчет о целях расходования некоммерческой организацией денежных средств и использования иного имущества, в том числе полученных от иностранных государств, их государственных органов, международных и иностранных граждан, лиц без гражданства либо уполномоченных ими лиц и (или) от российских юридических лиц, получающих денежные средства и иное имущество от указанных источников <a href="/media/Отчет_Минюст.pdf">Отчет в Минюст</a></p>
<p>
	&nbsp;</p>



    <div class="visits mt15">
	</div>
    </div>
{% endblock %}