{% extends "base.html" %}

{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Страница 404</span></div>
        <h1 class="title"><span>Страница 404</span></h1>
                <p>
   <span style="font-size:16px;">Извините! Страница не найдена!</span></p>

   Возможные причины:</p>
<ul>
  <li>
        она была удалена,</li>
  <li>
        сменен адресс ссылки,</li>
  <li>
        вы не верно ввели ссылку.</li>
</ul>



    <div class="visits mt15">
	</div>
    </div>
{% endblock %}