{% extends "base.html" %}
{% block navig_btn_geo %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}

    <h1><a href="/media/Расчётно-графическая_работа_по_математической_статистик.pdf">Bye World</a></h1>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <div style="background-image: url('https://www.sunhome.ru/i/wallpapers/123/tigr-v15.1920x1200.jpg')">
            <h1 class="sex">Test </h1>
        </div>
    </div>



{% endblock %}

<div class="container border py-4 mb-4 col-md-7 d-flex justify-content-center">{% block content %} {% endblock %}</div>