{% extends "base.html" %}
{% block navig_btn_d %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <a href="/contacts/">Контакты</a> / <span>Обращения граждан</span></div>
    <section class="callback1" id="priemnaya">
    <div class="page">
              <div class="mb20">
            <div style="text-align: center;">
	<span style="font-size:26px;">Информация для ознакомления, желающим отправить обращение в форме электронного документа</span></div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	Пожалуйста, прежде чем отправить обращение в форме электронного документа, внимательно ознакомьтесь с полномочиями и сферой деятельности НОЧУ ДПО "Уральский центр подготовки кадров", а также со следующей информацией.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	1. Обращения, направленные в форме электронного документа через официальный сайт, поступают на рассмотрение в Официальный сайт НОЧУ ДПО "Уральский центр подготовки кадров"&nbsp;и рассматриваются работниками НОЧУ ДПО "Уральский центр подготовки кадров"&nbsp;– уполномоченными на то лицами.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	2. Перед отправкой обращения в форме электронного документа необходимо его написать.</div>
<div>
	&nbsp;</div>
<div>
	2.1. в обязательном порядке указав в электронной анкете:</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	2.1.1. либо наименование государственного органа, в который Вы направляете обращение в форме электронного документа, либо фамилию, имя, отчество соответствующего лица, либо должность соответствующего лица, кому Вы направляете обращение в форме электронного документа;</div>
<div>
	&nbsp;</div>
<div>
	2.1.2. свою фамилию, имя, отчество (последнее – при наличии);</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	2.1.3. адрес электронной почты, по которому должны быть направлены ответ, уведомление о переадресации обращения;</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	2.2. изложив в поле ввода текста обращения в форме электронного документа суть предложения, заявления, жалобы.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	3. Ответ на Ваше обращение в форме электронного документа либо уведомление о его переадресации направляется в форме электронного документа по адресу электронной почты (e-mail), указанному Вами в обращении в форме электронного документа.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	4. В предназначенном для обязательного заполнения поле ввода текста обращения в форме электронного документа Вы излагаете суть предложения, заявления или жалобы в соответствии со <a href="http://letters.kremlin.ru/info-service/acts/2" target="_blank">ст. 7 Федерального закона от 2 мая 2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации»</a>.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	В случае, если текст Вашего обращения не позволяет определить суть предложения, заявления или жалобы, ответ на обращение не дается, и оно не подлежит направлению на рассмотрение в государственный орган, орган местного самоуправления или должностному лицу в соответствии с их компетенцией, о чем Вам будет сообщено в течение семи дней со дня регистрации обращения.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	Обращаем внимание, что в целях обеспечения неразглашения сведений, содержащихся в Вашем обращении, а также сведений, касающихся Вашей частной жизни, при заполнении поля ввода текста обращения в форме электронного документа действует защита от возможного внедрения вредоносного кода.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	5. В случае необходимости в подтверждение своих доводов Вы вправе приложить к обращению необходимые документы и материалы в электронной форме.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	Приложить необходимые документы и материалы в электронной форме Вы можете в любой последовательности в форматах:</div>
<div style="text-align: justify;">
	png, jpg, jpeg, doc, docx, odt, ods, odp, txt, rtf, pdf, xls, xlsx, ods, ppt, pptx, pptm, odp, rar, zip, 7z, cab, gzip, tar</div>
<div>
	&nbsp;</div>
<div>
	Иные форматы не обрабатываются в информационных системах НОЧУ ДПО "Уральский центр подготовки кадров".</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	Информируем Вас, что передача файла(ов) вложения на почтовый сервер зависит от пропускной способности сети «Интернет», а получение – от объёма обрабатываемых почтовым сервером переданных файлов.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	При подключении Вашего оборудования к сети «Интернет» по выделенным каналам связи с использованием технологий ADSL, 3G, 4G, WiFi и иных технологий, обеспечивающих аналогичные скорости передачи данных в сети «Интернет», передача и обработка файла(ов) с суммарным размером:</div>
<div>
	&nbsp;</div>
<ul>
	<li>
		до 5 Мб осуществляется, как правило, без задержки во времени;</li>
	<li>
		от 5 Мб до 10 Мб может осуществляться с задержкой во времени;</li>
	<li>
		свыше 10 Мб может быть не осуществлена.</li>
</ul>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	6. Если в направленном Вами тексте в форме электронного документа, содержащемся в поле ввода текста обращения в форме электронного документа, не изложено предложение, заявление или жалоба, а только ссылка на приложение (файл вложение) либо на контент интернет-сайта, то в ответе разъясняется порядок его рассмотрения, установленный <a href="http://letters.kremlin.ru/info-service/acts/2" target="_blank">Федеральным законом от 2 мая 2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации»</a>.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	7. Обращаем Ваше внимание на порядок рассмотрения отдельных обращений, предусмотренный <a href="http://letters.kremlin.ru/info-service/acts/2" target="_blank">ст. 11 Федерального закона от 2 мая 2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации»</a>.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	8. При направлении Вами обращений, касающихся обжалования судебных решений, необходимо иметь в виду следующее.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	Согласно Конституции Российской Федерации правосудие в России осуществляется только судом. Органы судебной власти самостоятельны и действуют независимо от законодательной и исполнительной властей. Решения судебных органов обжалуются в установленном законом процессуальном порядке.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	9. В случае направления Вами обращения, содержащего вопрос, затрагивающий интересы неопределенного круга лиц, ответ на который был размещен на данном сайте, то Вам в течение семи дней со дня регистрации обращения будет сообщен электронный адрес страницы данного сайта «Ответы на обращения, затрагивающие интересы неопределенного круга лиц» на которой размещен ответ на вопрос, поставленный в Вашем обращении.</div>
<div>
	&nbsp;</div>
<div style="text-align: justify;">
	10. Информация о персональных данных авторов обращений, направленных в форме электронного документа, сведения, содержащиеся в обращениях авторов, а также сведения, касающиеся частной жизни авторов, хранятся и обрабатываются с соблюдением требований российского законодательства.</div>
<div>
	&nbsp;</div>
<div>
	Адрес для отправки обращений в письменной форме в НОЧУ ДПО "Уральский центр подготовки кадров"&nbsp;обычной почтой на почтовый адрес НОЧУ ДПО "Уральский центр подготовки кадров"<span style="text-align: justify;">:</span></div>
<div>
	620062, Свердловская область, г. Екатеринбург, ул. Чебышева, д. 6, офис 319</div>
        </div>
        <div class="mb20">
        	    <a href="deal" class="my_btn fz18 w100p ta_c">Написать обращение</a>
        <br><br>

        </div>

        <table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">Промежуток</th>
      <th scope="col">Всего обращений</th>
      <th scope="col">В работе</th>
      <th scope="col">Дан ответ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>За текущий месяц</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>За квартал</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>За полугодие</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
        <td>За текущий год</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
  </tbody>
</table>

            </div>
                                    <div class="messages">
              <div class="mb20">
              	    <a href="/deal" class="my_btn fz18 w100p ta_c">Написать обращение</a>
              </div>
                                      </div>


</section>

    </div>
{% endblock %}