{% extends "base.html" %}
{% block navig_btn_d %}
    nav-link active
{% endblock %}
{% load static %}
{% block content %}
    <div class="wrap">
           <div class="crumbs"><a href="/">Главная</a> / <span>Контакты</span></div>
        <h1 class="title"><span>Контакты</span></h1>
                <ul class="subsection">
                    <li><a href="faq">Часто задаваемые вопросы</a></li>
                    <li><a href="comments">Отзывы и предложения</a></li>
                    <li><a href="appeals">Обращения граждан</a></li>
                </ul>
        <br>
            <div>
	<span style="font-size:24px;">НОЧУ ДПО "Уральский центр подготовки кадров"</span></div>
<div>
	&nbsp;</div>
<div>
	<strong>Адрес:</strong> г. Екатеринбург, ул. Чебышева, д. 6, оф. 319</div>
<div>
	<strong>Телефон:</strong> +7 (343) 201-44-24</div>
<div>
	<strong>E-mail:</strong> <a href="/kontakty/obrascheniya/">ural-cpk@mail.ru</a></div>
<div>
	<strong>Сайт:</strong> <a href="http://cpk-ural.ru" target="_blank">cpk-ural.ru</a></div>
<div>
	&nbsp;</div>
<p>
	<iframe allowfullscreen="true" frameborder="0" height="600" src="https://yandex.ru/map-widget/v1/-/CCUM6KeC8C" style="position:relative;" width="100%"></iframe></p>



    <div class="visits mt15">
	</div>
    </div>
{% endblock %}